<!-- 3D PRINTING EXAMPLES -->
<section class="model-examples">
  <div class="container">
    <h1 class="title model-examples__title">Ми створюємо</h1>
    <ul class="model-examples__list list">
      <li
        class="
          model-examples__item model-examples__item--is-fixed
          animation animation__bounce-in-left
        "
      >
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              /images/desktop/3d-printing/image.webp    1x,
              /images/desktop/3d-printing/image@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              /images/desktop/3d-printing/image.png    1x,
              /images/desktop/3d-printing/image@2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /images/tablet/3d-printing/image.webp    1x,
              /images/tablet/3d-printing/image@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /images/tablet/3d-printing/image.png    1x,
              /images/tablet/3d-printing/image@2x.png 2x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="
              /images/mobile/3d-printing/image.webp    1x,
              /images/mobile/3d-printing/image@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 320px)"
            srcset="
              /images/mobile/3d-printing/image.png    1x,
              /images/mobile/3d-printing/image@2x.png 2x
            "
          />
          <img
            class="model-examples__img"
            src="/images/mobile/3d-printing/image.png"
            alt="Прототип деталей"
          />
        </picture>
        <h2 class="model-examples__subtitle">Прототипи</h2>
      </li>
      <li
        class="
          model-examples__item
          animation animation__bounce-in-left
        "
      >
        <picture>
          <source
            media="(min-width: 1440px)"
            type="image/webp"
            srcset="
              /images/desktop/3d-printing/image1.webp    1x,
              /images/desktop/3d-printing/image1@2x.webp 2x
            "
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              /images/desktop/3d-printing/image1.png    1x,
              /images/desktop/3d-printing/image1@2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            type="image/webp"
            srcset="
              /images/tablet/3d-printing/image1.webp    1x,
              /images/tablet/3d-printing/image1@2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /images/tablet/3d-printing/image1.png    1x,
              /images/tablet/3d-printing/image1@2x.png 2x
            "
          />
          <source
            media="(min-width: 320px)"
            type="image/webp"
            srcset="
              /images/mobile/3d-printing/image1.webp    1x,
              /images/mobile/3d-printing/image1@2x.webp 2x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="
              /images/mobile/3d-printing/image1.png    1x,
              /images/mobile/3d-printing/image1@2x.png 2x
            "
          />
          <img
            class="model-examples__img"
            src="/images/mobile/3d-printing/image1.png"
            alt="3D макет будівлі"
          />
        </picture>
        <h2 class="model-examples__subtitle">Макети</h2>
      </li>
      <li
        class="
          model-examples__item
          animation animation__bounce-in-right
        "
      >
        <picture>
          <source
            media="(min-width: 1440px)"
            type="image/webp"
            srcset="
              /images/desktop/3d-printing/image2.webp    1x,
              /images/desktop/3d-printing/image2@2x.webp 2x
            "
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              /images/desktop/3d-printing/image2.png    1x,
              /images/desktop/3d-printing/image2@2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            type="image/webp"
            srcset="
              /images/tablet/3d-printing/image2.webp    1x,
              /images/tablet/3d-printing/image2@2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /images/tablet/3d-printing/image2.png    1x,
              /images/tablet/3d-printing/image2@2x.png 2x
            "
          />
          <source
            media="(min-width: 320px)"
            type="image/webp"
            srcset="
              /images/mobile/3d-printing/image2.webp    1x,
              /images/mobile/3d-printing/image2@2x.webp 2x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="
              /images/mobile/3d-printing/image2.png    1x,
              /images/mobile/3d-printing/image2@2x.png 2x
            "
          />
          <img
            class="model-examples__img"
            src="/images/mobile/3d-printing/image2.png"
            alt="Елемент декору"
          />
        </picture>
        <h2 class="model-examples__subtitle">Декор</h2>
      </li>
      <li
        class="
          model-examples__item
          animation animation__bounce-in-right
        "
      >
        <picture class="model-examples__img-wrap">
          <source
            media="(min-width: 1440px)"
            type="image/webp"
            srcset="
              /images/desktop/3d-printing/image3.webp    1x,
              /images/desktop/3d-printing/image3@2x.webp 2x
            "
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              /images/desktop/3d-printing/image3.png    1x,
              /images/desktop/3d-printing/image3@2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            type="image/webp"
            srcset="
              /images/tablet/3d-printing/image3.webp    1x,
              /images/tablet/3d-printing/image3@2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /images/tablet/3d-printing/image3.png    1x,
              /images/tablet/3d-printing/image3@2x.png 2x
            "
          />
          <source
            media="(min-width: 320px)"
            type="image/webp"
            srcset="
              /images/mobile/3d-printing/image3.webp    1x,
              /images/mobile/3d-printing/image3@2x.webp 2x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="
              /images/mobile/3d-printing/image3.png    1x,
              /images/mobile/3d-printing/image3@2x.png 2x
            "
          />
          <img
            class="model-examples__img"
            src="/images/mobile/3d-printing/image3.png"
            alt="Куб з написом 3D"
          />
        </picture>
        <h2 class="model-examples__subtitle">Корпоративний дизайн</h2>
      </li>
    </ul>
  </div>
</section>

<!-- 3D PRINTING DESCRIPTION -->
<section class="process-description padding-bottom">
  <div class="container">
    <h2 class="visually-hidden">Опис процесів розробки 3D моделей</h2>
    <ul class="process-description__list list">
      <li class="process-description__item">
        <article class="process-description__product">
          <div class="process-description__thumb">
            <picture>
              <source
                media="(min-width: 1440px)"
                type="image/webp"
                srcset="/images/desktop/3d-printing/image1-pd.webp 1x"
              />
              <source
                media="(min-width: 1440px)"
                srcset="/images/desktop/3d-printing/image1-pd.jpg 1x"
              />
              <source
                media="(min-width: 768px)"
                type="image/webp"
                srcset="/images/tablet/3d-printing/image1-pd.webp 1x"
              />
              <source
                media="(min-width: 768px)"
                srcset="/images/tablet/3d-printing/image1-pd.jpg 1x"
              />
              <source
                media="(min-width: 320px)"
                type="image/webp"
                srcset="/images/mobile/3d-printing/image1-pd.webp 1x"
              />
              <source
                media="(min-width: 320px)"
                srcset="/images/mobile/3d-printing/image1-pd.jpg 1x"
              />
              <img
                class="process-description__img-one"
                src="/images/mobile/3d-printing/image1-pd.jpg"
                alt="Елемент декору"
              />
            </picture>
          </div>
          <div class="process-description__info-box">
            <h2 class="process-description__name">3D-друк</h2>
            <p class="process-description__descr">
              - ми використовуємо FDM технологію друку. Вона
              представляє собою пошарове формування об'єкта за
              допомогою 3D принтера.
            </p>
            <p class="process-description__text">
              Моделі для створення розроблюються дизайнерами в
              спеціальному програмному забезпеченні: системах
              автоматизованого проектування.
            </p>
            <p class="process-description__text">
              3D друк знайшов широке застосування в архітектурі,
              промисловості, маркетингу, мистецтві і багатьох інших
              сфер.
            </p>
            <div class="process-description__button">
              <include
                src="./partials/components/_order-btn.html"
              ></include>
            </div>
          </div>
        </article>
      </li>
      <li class="process-description__item">
        <article class="process-description__product">
          <div class="process-description__thumb">
            <picture>
              <source
                media="(min-width: 1440px)"
                type="image/webp"
                srcset="/images/desktop/3d-printing/image2-pd.webp 1x"
              />
              <source
                media="(min-width: 1440px)"
                srcset="/images/desktop/3d-printing/image2-pd.jpg 1x"
              />
              <source
                media="(min-width: 768px)"
                type="image/webp"
                srcset="/images/tablet/3d-printing/image2-pd.webp 1x"
              />
              <source
                media="(min-width: 768px)"
                srcset="/images/tablet/3d-printing/image2-pd.jpg 1x"
              />
              <source
                media="(min-width: 320px)"
                type="image/webp"
                srcset="/images/mobile/3d-printing/image2-pd.webp 1x"
              />
              <source
                media="(min-width: 320px)"
                srcset="/images/mobile/3d-printing/image2-pd.jpg 1x"
              />
              <img
                class="process-description__img-second"
                src="/images/mobile/3d-printing/image2-pd.jpg"
                alt="Елемент декору"
              />
            </picture>
          </div>
          <div class="process-description__info-box">
            <h2 class="process-description__name">3D-моделювання</h2>
            <p class="process-description__descr">
              - це процес розробки математичного уявлення будь-якої
              поверхні об'єкта в трьох вимірах за допомогою
              спеціалізованого програмного забезпечення.
            </p>
            <p class="process-description__text">
              Наші дизайнери зпроектують будь-який виріб виходячи з
              ваших побажань.
            </p>
            <p class="process-description__text">
              Розуміючи специфіку 3D друку і ваших задач ми створимо
              деталь яка повністю задовольнить ваші потреби.
            </p>
            <div class="process-description__button">
              <include
                src="./partials/components/_order-btn.html"
              ></include>
            </div>
          </div>
        </article>
      </li>
      <li
        class="
          process-description__item process-description__item--in-top
        "
      >
        <article class="process-description__product">
          <div class="process-description__thumb">
            <picture>
              <source
                media="(min-width: 1440px)"
                type="image/webp"
                srcset="/images/desktop/3d-printing/image3-pd.webp 1x"
              />
              <source
                media="(min-width: 1440px)"
                srcset="/images/desktop/3d-printing/image2-pd.jpg 1x"
              />
              <source
                media="(min-width: 768px)"
                type="image/webp"
                srcset="/images/tablet/3d-printing/image3-pd.webp 1x"
              />
              <source
                media="(min-width: 768px)"
                srcset="/images/tablet/3d-printing/image3-pd.jpg 1x"
              />
              <source
                media="(min-width: 320px)"
                type="image/webp"
                srcset="/images/mobile/3d-printing/image3-pd.webp 1x"
              />
              <source
                media="(min-width: 320px)"
                srcset="/images/mobile/3d-printing/image3-pd.jpg 1x"
              />
              <img
                class="process-description__img-three"
                src="/images/mobile/3d-printing/image3-pd.jpg"
                alt="Елемент декору"
              />
            </picture>
          </div>
          <div class="process-description__info-box">
            <h2 class="process-description__name">3D-сканування</h2>
            <p class="process-description__descr">
              - зняття даних, шляхом аналізу форми предмета і на
              основі отриманих даних створення її 3D-моделі.
            </p>
            <p class="process-description__text">
              Це універсальний інструмент, який дозволяє отримати як і
              просто 3D-модель для візуалізації в цифровому вигляді,
              так і 3D-модель для подальшого її друку на 3D-принтері.
            </p>
            <div class="process-description__button">
              <include
                src="./partials/components/_order-btn.html"
              ></include>
            </div>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>
