<!-- 3D MODELING HERO -->
<section class="section modeling">
  <div class="container modeling__container">
    <h1 class="modeling__title">
      <span lang="en">3D</span> МОДЕЛЮВАННЯ
    </h1>
    <div class="modeling__box">
      <p class="modeling__description modeling__description--left">
        Сфера <span lang="en">3D</span> графіки може надати широкий
        спектр послуг. Але якщо спроектована модель буде створюватися
        шляхом <span lang="en">3D</span> друку, обробки заготовки на
        ЧПУ станках або іншими виробничими методами, то до моделі
        преставляеться ряд інженерних вимог які повинен враховувати
        дизайнер при розробці моделі.
      </p>

      <p class="modeling__description modeling__description--right">
        Наші фахівці допоможуть вам визначитися з технічною стороною
        вироба і підготують модель для її створення. Ми маємо широкий
        спектр інструментів для вдоволення будь-якої вашої задачі.
      </p>
    </div>
  </div>
</section>

<!-- 3D MODELING CREATIONS -->
<section class="section">
  <div class="container methods__images">
    <h2 class="methods">Способи створення моделі:</h2>

    <ul class="methods__list list">
      <li class="methods__item">
        <span lang="en">3D</span> сканування
      </li>
      <li class="methods__item">
        На основі фотографій з доданими розмірами
      </li>
      <li class="methods__item">За ескізами з розмірами</li>
      <li class="methods__item">За вашим кресленням</li>
      <li class="methods__item">
        По вже існуючому прототипу шляхом зняття розмірів
      </li>
    </ul>
    <div class="methods__background-model"></div>
  </div>
</section>

<!-- 3D MODELS -->
<section class="section models section__gap-bottom">
  <div class="container container--overflow-is-hidden">
    <h3 class="models__title">
      Ми створюємо фотореалiстічні зображення моделей
    </h3>
    <ul class="models__list list">
      <li
        class="models__item wow animation animation__bounce-in-left"
      >
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              /images/desktop/3d-modeling/image1.png    1x,
              /images/desktop/3d-modeling/image1@2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /images/tablet/3d-modeling/image1.png    1x,
              /images/tablet/3d-modeling/image1@2x.png 2x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="
              /images/mobile/3d-modeling/image1.png    1x,
              /images/mobile/3d-modeling/image1@2x.png 2x
            "
          />
          <img
            src="/images/mobile/3d-modeling/image1.png"
            alt="кiльцe"
          />
        </picture>
      </li>

      <li
        class="models__item wow animation animation__bounce-in-left"
      >
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              /images/desktop/3d-modeling/image2.png    1x,
              /images/desktop/3d-modeling/image2@2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /images/tablet/3d-modeling/image2.png    1x,
              /images/tablet/3d-modeling/image2@2x.png 2x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="
              /images/mobile/3d-modeling/image2.png    1x,
              /images/mobile/3d-modeling/image2@2x.png 2x
            "
          />
          <img
            src="/images/mobile/3d-modeling/image2.png"
            alt="вимірювальний прилад"
          />
        </picture>
      </li>

      <li
        class="models__item wow animation animation__bounce-in-right"
      >
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              /images/desktop/3d-modeling/image3.png    1x,
              /images/desktop/3d-modeling/image3@2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /images/tablet/3d-modeling/image3.png    1x,
              /images/tablet/3d-modeling/image3@2x.png 2x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="
              /images/mobile/3d-modeling/image3.png    1x,
              /images/mobile/3d-modeling/image3@2x.png 2x
            "
          />
          <img
            src="/images/mobile/3d-modeling/image3.png"
            alt="плата"
          />
        </picture>
      </li>

      <li
        class="models__item wow animation animation__bounce-in-right"
      >
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              /images/desktop/3d-modeling/image4.png    1x,
              /images/desktop/3d-modeling/image4@2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /images/tablet/3d-modeling/image4.png    1x,
              /images/tablet/3d-modeling/image4@2x.png 2x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="
              /images/mobile/3d-modeling/image4.png    1x,
              /images/mobile/3d-modeling/image4@2x.png 2x
            "
          />
          <img
            src="/images/mobile/3d-modeling/image4.png"
            alt="деталь"
          />
        </picture>
      </li>
    </ul>
  </div>

  <div class="modeling__btn">
    <include src="./partials/components/_order-btn.html"></include>
  </div>
</section>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"
  integrity="sha512-Eak/29OTpb36LLo2r47IpVzPBLXnAMPAVypbSZiZ4Qkf8p/7S/XRG5xp7OKWPPYfJT6metI+IORkR5G8F900+g=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<script>
  new WOW().init();
</script>
