<!-- HERO -->
<section class="hero section--padding-bottom">
  <div class="container">
    <h1 class="page-title main__page-title">
      Інженерна, конструкторська <br />та дизайнерська робота
    </h1>
    <h2 class="section-title visually-hidden">Карусель зображень</h2>
    <div class="wrapper wrapper__carousel">
      <ul class="carousel set list">
        <li class="carousel__item set__item">
          <picture
            class="carousel__img carousel__img--round-top-right"
          >
            <source
              media="(min-width: 1440px)"
              srcset="
                ./images/desktop/main/image.webp    1x,
                ./images/desktop/main/image@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
                ./images/desktop/main/image.jpg    1x,
                ./images/desktop/main/image@2x.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/tablet/main/image.webp    1x,
                ./images/tablet/main/image@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/tablet/main/image.jpg    1x,
                ./images/tablet/main/image@2x.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(min-width: 320px)"
              srcset="
                ./images/mobile/main/image.webp    1x,
                ./images/mobile/main/image@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 320px)"
              srcset="
                ./images/mobile/main/image.jpg    1x,
                ./images/mobile/main/image@2x.jpg 2x
              "
              type="image/jpg"
            />
            <img
              src="./images/mobile/main/image.jpg"
              alt="Фігурка робота, надрукована 3D принтером"
            />
          </picture>
        </li>
        <li class="carousel__item set__item">
          <picture class="carousel__img carousel__img--round">
            <source
              media="(min-width: 1440px)"
              srcset="
                ./images/desktop/main/image1.webp    1x,
                ./images/desktop/main/image1@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
                ./images/desktop/main/image1.jpg    1x,
                ./images/desktop/main/image1@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/tablet/main/image1.webp    1x,
                ./images/tablet/main/image1@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/tablet/main/image1.jpg    1x,
                ./images/tablet/main/image1@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 320px)"
              srcset="
                ./images/mobile/main/image1.webp    1x,
                ./images/mobile/main/image1@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 320px)"
              srcset="
                ./images/mobile/main/image1.jpg    1x,
                ./images/mobile/main/image1@2x.jpg 2x
              "
            />
            <img
              src="./images/mobile/main/image1.jpg"
              alt="Фігурка настільної лампи, надрукована 3D принтером"
            />
          </picture>
        </li>
        <li class="carousel__item set__item">
          <picture
            class="
              carousel__img carousel__img--round-top-right-down-left
            "
          >
            <source
              media="(min-width: 1440px)"
              srcset="
                ./images/desktop/main/image2.webp    1x,
                ./images/desktop/main/image2@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
                ./images/desktop/main/image2.jpg    1x,
                ./images/desktop/main/image2@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/tablet/main/image2.webp    1x,
                ./images/tablet/main/image2@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/tablet/main/image2.jpg    1x,
                ./images/tablet/main/image2@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 320px)"
              srcset="
                ./images/mobile/main/image2.webp    1x,
                ./images/mobile/main/image2@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 320px)"
              srcset="
                ./images/mobile/main/image2.jpg    1x,
                ./images/mobile/main/image2@2x.jpg 2x
              "
            />
            <img
              src="./images/mobile/main/image2.jpg"
              alt="Фігурка людського черепа, надрукована 3D принтером"
            />
          </picture>
        </li>
      </ul>

      <a
        class="
          ancor-guide
          hero__ancor-guide hero__ancor-gide--arrow
          link
        "
        aria-label="Перехід до галереї зображень"
        href="#gallery"
      >
        <svg class="arrow-icon" viewBox="0 0 32 32">
          <use
            href="./images/sprite.svg#icon-arrow-gallery_16x16"
          ></use>
        </svg>
      </a>
    </div>
    <p class="section-description hero__section-description">
      Ми втілюємо ідеї в реальність
    </p>
  </div>
</section>

<!-- GALLERY -->
<section class="gallery section--padding-bottom">
  <div class="container gallery__container">
    <a class="ancor visually-hidden" id="gallery"></a>
    <h2 class="section-title main__section-title">Галерея</h2>
    <ul class="gallery__list set list">
      <li class="gallery__item set__item">
        <picture class="gallery__img">
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/desktop/main/image3.webp    1x,
              ./images/desktop/main/image3@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/desktop/main/image3.jpg    1x,
              ./images/desktop/main/image3@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/tablet/main/image3.webp    1x,
              ./images/tablet/main/image3@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/tablet/main/image3.jpg    1x,
              ./images/tablet/main/image3@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="
              ./images/mobile/main/image3.webp    1x,
              ./images/mobile/main/image3@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 320px)"
            srcset="
              ./images/mobile/main/image3.jpg    1x,
              ./images/mobile/main/image3@2x.jpg 2x
            "
          />
          <img
            src="./images/mobile/main/image3.jpg"
            alt="Зображення інженерної 3D моделі"
          />
        </picture>
        <h3 class="gallery__sub-title">
          Інженерні методи аналізу та контролю якості
        </h3>
      </li>
      <li class="gallery__item set__item">
        <picture class="gallery__img">
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/desktop/main/image4.webp    1x,
              ./images/desktop/main/image4@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/desktop/main/image4.jpg    1x,
              ./images/desktop/main/image4@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/tablet/main/image4.webp    1x,
              ./images/tablet/main/image4@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/tablet/main/image4.jpg    1x,
              ./images/tablet/main/image4@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="
              ./images/mobile/main/image4.webp    1x,
              ./images/mobile/main/image4@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 320px)"
            srcset="
              ./images/mobile/main/image4.jpg    1x,
              ./images/mobile/main/image4@2x.jpg 2x
            "
          />
          <img
            src="./images/mobile/main/image4.jpg"
            alt="Сканер знімає виміри з корпусу іграшкового авто"
          />
        </picture>
        <h3 class="gallery__sub-title">
          Високоточне <span lang="en">3D</span> сканування
        </h3>
      </li>
      <li class="gallery__item set__item">
        <picture class="gallery__img">
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/desktop/main/image5.webp    1x,
              ./images/desktop/main/image5@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/desktop/main/image5.jpg    1x,
              ./images/desktop/main/image5@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/tablet/main/image5.webp    1x,
              ./images/tablet/main/image5@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/tablet/main/image5.jpg    1x,
              ./images/tablet/main/image5@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="
              ./images/mobile/main/image5.webp    1x,
              ./images/mobile/main/image5@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 320px)"
            srcset="
              ./images/mobile/main/image5.jpg    1x,
              ./images/mobile/main/image5@2x.jpg 2x
            "
          />
          <img
            src="./images/mobile/main/image5.jpg"
            alt="Інженерна 3D модель у доопрацюванні"
          />
        </picture>
        <h3 class="gallery__sub-title">
          Створення точної копії на базі сканування
          <span lang="en">reverse engineering</span>
        </h3>
      </li>
      <li class="gallery__item set__item">
        <picture class="gallery__img">
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/desktop/main/image6.webp    1x,
              ./images/desktop/main/image6@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/desktop/main/image6.jpg    1x,
              ./images/desktop/main/image6@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/tablet/main/image6.webp    1x,
              ./images/tablet/main/image6@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/tablet/main/image6.jpg    1x,
              ./images/tablet/main/image6@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="
              ./images/mobile/main/image6.webp    1x,
              ./images/mobile/main/image6@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 320px)"
            srcset="
              ./images/mobile/main/image6.jpg    1x,
              ./images/mobile/main/image6@2x.jpg 2x
            "
          />
          <img
            src="./images/mobile/main/image6.jpg"
            alt="Інженер проектує 3D модель"
          />
        </picture>
        <h3 class="gallery__sub-title">
          Всі цикли <span lang="en">3D</span> проектування, створення
          фотореалістичних цифрових моделей
        </h3>
      </li>
    </ul>
  </div>
</section>

<!-- MORE PHOTO -->
<section
  class="more-photo section--padding-bottom-last"
>
  <div class="container more-photo__container">
    <h2 class="section-title main__section-title">Більше фото</h2>
    <ul class="more-photo__list set list">
      <li class="more-photo__item set__item" gallery-overlay-open>
        <picture class="more-photo__img">
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/desktop/main/image7.webp    1x,
              ./images/desktop/main/image7@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/desktop/main/image7.jpg    1x,
              ./images/desktop/main/image7@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/tablet/main/image7.webp    1x,
              ./images/tablet/main/image7@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/tablet/main/image7.jpg    1x,
              ./images/tablet/main/image7@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="
              ./images/mobile/main/image7.webp    1x,
              ./images/mobile/main/image7@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 320px)"
            srcset="
              ./images/mobile/main/image7.jpg    1x,
              ./images/mobile/main/image7@2x.jpg 2x
            "
          />
          <img
            src="./images/mobile/main/image7.jpg"
            alt="Фігурки, надруковані на 3D принтері"
          />
        </picture>
      </li>
      <li class="more-photo__item set__item" gallery-overlay-open>
        <picture class="more-photo__img">
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/desktop/main/image8.webp    1x,
              ./images/desktop/main/image8@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/desktop/main/image8.jpg    1x,
              ./images/desktop/main/image8@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/tablet/main/image8.webp    1x,
              ./images/tablet/main/image8@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/tablet/main/image8.jpg    1x,
              ./images/tablet/main/image8@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="
              ./images/mobile/main/image8.webp    1x,
              ./images/mobile/main/image8@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 320px)"
            srcset="
              ./images/mobile/main/image8.jpg    1x,
              ./images/mobile/main/image8@2x.jpg 2x
            "
          />
          <img
            src="./images/mobile/main/image8.jpg"
            alt="Фігурка Сіднейської опери, надрукована на 3D принтері"
          />
        </picture>
      </li>
      <li class="more-photo__item set__item" gallery-overlay-open>
        <picture class="more-photo__img">
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/desktop/main/image9.webp    1x,
              ./images/desktop/main/image9@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/desktop/main/image9.jpg    1x,
              ./images/desktop/main/image9@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/tablet/main/image9.webp    1x,
              ./images/tablet/main/image9@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/tablet/main/image9.jpg    1x,
              ./images/tablet/main/image9@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="
              ./images/mobile/main/image9.webp    1x,
              ./images/mobile/main/image9@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 320px)"
            srcset="
              ./images/mobile/main/image9.jpg    1x,
              ./images/mobile/main/image9@2x.jpg 2x
            "
          />
          <img
            src="./images/mobile/main/image9.jpg"
            alt="Фігурка робота, надрукована на 3D принтері"
          />
        </picture>
      </li>
      <li class="more-photo__item set__item" gallery-overlay-open>
        <picture class="more-photo__img">
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/desktop/main/image10.webp    1x,
              ./images/desktop/main/image10@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/desktop/main/image10.jpg    1x,
              ./images/desktop/main/image10@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/tablet/main/image10.webp    1x,
              ./images/tablet/main/image10@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/tablet/main/image10.jpg    1x,
              ./images/tablet/main/image10@2x.jpg 2x
            "
          />
          <img
            src="./images/tablet/main/image10.jpg"
            alt="Фігурка людського черепа, надрукована на 3D принтері"
          />
        </picture>
      </li>
      <li class="more-photo__item set__item" gallery-overlay-open>
        <picture class="more-photo__img">
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/desktop/main/image11.webp    1x,
              ./images/desktop/main/image11@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/desktop/main/image11.jpg    1x,
              ./images/desktop/main/image11@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/tablet/main/image11.webp    1x,
              ./images/tablet/main/image11@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/tablet/main/image11.jpg    1x,
              ./images/tablet/main/image11@2x.jpg 2x
            "
          />
          <img
            src="./images/tablet/main/image11.jpg"
            alt="Фігурка танка, надрукована на 3D принтері"
          />
        </picture>
      </li>
      <li class="more-photo__item set__item" gallery-overlay-open>
        <picture class="more-photo__img">
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/desktop/main/image12.webp    1x,
              ./images/desktop/main/image12@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/desktop/main/image12.jpg    1x,
              ./images/desktop/main/image12@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/tablet/main/image12.webp    1x,
              ./images/tablet/main/image12@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/tablet/main/image12.jpg    1x,
              ./images/tablet/main/image12@2x.jpg 2x
            "
          />
          <img
            src="./images/tablet/main/image12.jpg"
            alt="Фігурки настільних ламп, надрукована на 3D принтері"
          />
        </picture>
      </li>
      <li class="more-photo__item set__item" gallery-overlay-open>
        <picture class="more-photo__img">
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/desktop/main/image13.webp    1x,
              ./images/desktop/main/image13@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/desktop/main/image13.jpg    1x,
              ./images/desktop/main/image13@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/tablet/main/image13.webp    1x,
              ./images/tablet/main/image13@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/tablet/main/image13.jpg    1x,
              ./images/tablet/main/image13@2x.jpg 2x
            "
          />
          <img
            src="./images/tablet/main/image13.jpg"
            alt="Фігурка суперкару, надрукована на 3D принтері"
          />
        </picture>
      </li>
      <li class="more-photo__item set__item" gallery-overlay-open>
        <picture class="more-photo__img">
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/desktop/main/image14.webp    1x,
              ./images/desktop/main/image14@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/desktop/main/image14.jpg    1x,
              ./images/desktop/main/image14@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/tablet/main/image14.webp    1x,
              ./images/tablet/main/image14@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/tablet/main/image14.jpg    1x,
              ./images/tablet/main/image14@2x.jpg 2x
            "
          />
          <img
            src="./images/tablet/main/image14.jpg"
            alt="Фігурка куполу капітолію, надрукована на 3D принтері"
          />
        </picture>
      </li>
      <li class="more-photo__item set__item" gallery-overlay-open>
        <picture class="more-photo__img">
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/desktop/main/image15.webp    1x,
              ./images/desktop/main/image15@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/desktop/main/image15.jpg    1x,
              ./images/desktop/main/image15@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/tablet/main/image15.webp    1x,
              ./images/tablet/main/image15@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/tablet/main/image15.jpg    1x,
              ./images/tablet/main/image15@2x.jpg 2x
            "
          />
          <img
            src="./images/tablet/main/image15.jpg"
            alt="Настільний торшер у формі гриба, надрукований на 3D принтері"
          />
        </picture>
      </li>
      <li class="more-photo__item set__item" gallery-overlay-open>
        <picture class="more-photo__img">
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/desktop/main/image16.webp    1x,
              ./images/desktop/main/image16@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/desktop/main/image16.jpg    1x,
              ./images/desktop/main/image16@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/tablet/main/image16.webp    1x,
              ./images/tablet/main/image16@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/tablet/main/image16.jpg    1x,
              ./images/tablet/main/image16@2x.jpg 2x
            "
          />
          <img
            src="./images/tablet/main/image16.jpg"
            alt="Диспенсери для освіжувача повітря, надруковані на 3D принтері"
          />
        </picture>
      </li>
      <li class="more-photo__item set__item" gallery-overlay-open>
        <picture class="more-photo__img">
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/desktop/main/image17.webp    1x,
              ./images/desktop/main/image17@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/desktop/main/image17.jpg    1x,
              ./images/desktop/main/image17@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/tablet/main/image17.webp    1x,
              ./images/tablet/main/image17@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/tablet/main/image17.jpg    1x,
              ./images/tablet/main/image17@2x.jpg 2x
            "
          />
          <img
            src="./images/tablet/main/image17.jpg"
            alt="Модель Кібертраку Тесла, надрукована на 3D принтері"
          />
        </picture>
      </li>
      <li class="more-photo__item set__item" gallery-overlay-open>
        <picture class="more-photo__img">
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/desktop/main/image18.webp    1x,
              ./images/desktop/main/image18@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/desktop/main/image18.jpg    1x,
              ./images/desktop/main/image18@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/tablet/main/image18.webp    1x,
              ./images/tablet/main/image18@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/tablet/main/image18.jpg    1x,
              ./images/tablet/main/image18@2x.jpg 2x
            "
          />
          <img
            src="./images/tablet/main/image18.jpg"
            alt="Підвазонники у формі додекаедра, надруковані на 3D принтері"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
