<!-- TAKE ORDER  -->
<section class="take-order padding-bottom">
  <div class="container position-box">
    <h1 class="take-order__title">ЗРОБИТИ ЗАМОВЛЕННЯ</h1>
    <div class="take-order-box">
      <div class="take-order-main-image">
        <picture>
          <source
            media="(min-width: 1440px)"
            type="image/webp"
            srcset="
              /images/desktop/take-order/image.webp    1x,
              /images/desktop/take-order/image@2x.webp 2x
            "
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              /images/desktop/take-order/image.jpg    1x,
              /images/desktop/take-order/image@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            type="image/webp"
            srcset="
              /images/tablet/take-order/image.webp    1x,
              /images/tablet/take-order/image@2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /images/tablet/take-order/image.jpg    1x,
              /images/tablet/take-order/image@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 320px)"
            type="image/webp"
            srcset="
              /images/mobile/take-order/image.webp    1x,
              /images/mobile/take-order/image@2x.webp 2x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="
              /images/mobile/take-order/image.jpg    1x,
              /images/mobile/take-order/image@2x.jpg 2x
            "
          />
          <img
            class="take-order__main-img"
            src="/images/mobile/take-order/image.jpg"
            alt="Тривимірний куб"
          />
        </picture>
      </div>
      <div class="take-order-info">
        <div class="take-order-description">
          <p class="take-order__text">
            На цій сторінці ви можете зробити замовлення заповнивши
            форму і ми зв'яжемося з вами.
          </p>
          <p class="take-order__text">
            Наші фахівці допоможуть підібрати оптимальні для вас
            параметри і дадуть відповідь на всі ваші запитання.
          </p>
        </div>

        <ul class="take-order__list list">
          <li class="take-order__item desc-box-1">
            <div class="desc-box-1">
              <picture>
                <source
                  media="(min-width: 1440px)"
                  type="image/webp"
                  srcset="
                    /images/desktop/take-order/image-1.webp    1x,
                    /images/desktop/take-order/image-1@2x.webp 2x
                  "
                />
                <source
                  media="(min-width: 1440px)"
                  srcset="
                    /images/desktop/take-order/image-1.jpg    1x,
                    /images/desktop/take-order/image-1@2x.jpg 2x
                  "
                />
                <img
                  src="/images/desktop/take-order/image-1.jpg"
                  alt="Модель автомобіля"
                />
              </picture>
            </div>
          </li>
          <li class="take-order__item desc-box-2">
            <div class="desc-box-2">
              <picture>
                <source
                  media="(min-width: 1440px)"
                  type="image/webp"
                  srcset="
                    /images/desktop/take-order/image-2.webp    1x,
                    /images/desktop/take-order/image-2@2x.webp 2x
                  "
                />
                <source
                  media="(min-width: 1440px)"
                  srcset="
                    /images/desktop/take-order/image-2.jpg    1x,
                    /images/desktop/take-order/image-2@2x.jpg 2x
                  "
                />
                <img
                  src="/images/desktop/take-order/image-2.jpg"
                  alt="RGB LED-лампа"
                />
              </picture>
            </div>
          </li>
          <li class="take-order__item desc-box-3">
            <picture>
              <source
                media="(min-width: 1440px)"
                type="image/webp"
                srcset="
                  /images/desktop/take-order/image-3.webp    1x,
                  /images/desktop/take-order/image-3@2x.webp 2x
                "
              />
              <source
                media="(min-width: 1440px)"
                srcset="
                  /images/desktop/take-order/image-3.jpg    1x,
                  /images/desktop/take-order/image-3@2x.jpg 2x
                "
              />
              <img
                src="/images/desktop/take-order/image-3.jpg"
                alt="Лампа у вигляді гриба"
              />
            </picture>
          </li>
        </ul>
      </div>
    </div>
    <div class="take-order-info-box">
      <div class="take-order-form">
        <include
          src="./partials/components/_order-form.html"
        ></include>
      </div>
      <div class="take-order-contacts">
        <include
          src="./partials/components/_contact-info.html"
        ></include>

        <div class="futuristic-flowerpot">
          <ul class="futuristic-flowerpot__list">
            <li class="futuristic-flowerpot__item-1 list">
              <picture>
                <source
                  media="(min-width: 1440px)"
                  srcset="
                    /images/desktop/take-order/part-1.jpg    1x,
                    /images/desktop/take-order/part-1@2x.jpg 2x
                  "
                />
                <img src="/images/desktop/take-order/part-1.jpg" />
              </picture>
            </li>
            <li class="futuristic-flowerpot__item-2 list">
              <picture>
                <source
                  media="(min-width: 1440px)"
                  srcset="
                    /images/desktop/take-order/part-2.jpg    1x,
                    /images/desktop/take-order/part-2@2x.jpg 2x
                  "
                />
                <img src="/images/desktop/take-order/part-2.jpg" />
              </picture>
            </li>
            <li class="futuristic-flowerpot__item-3 list">
              <picture>
                <source
                  media="(min-width: 1440px)"
                  srcset="
                    /images/desktop/take-order/part-3.jpg    1x,
                    /images/desktop/take-order/part-3@2x.jpg 2x
                  "
                />
                <img src="/images/desktop/take-order/part-3.jpg" />
              </picture>
            </li>
            <li class="futuristic-flowerpot__item-4 list">
              <picture>
                <source
                  media="(min-width: 1440px)"
                  srcset="
                    /images/desktop/take-order/part-4.jpg    1x,
                    /images/desktop/take-order/part-4@2x.jpg 2x
                  "
                />
                <img src="/images/desktop/take-order/part-4.jpg" />
              </picture>
            </li>
            <li class="futuristic-flowerpot__item-5 list">
              <picture>
                <source
                  media="(min-width: 1440px)"
                  srcset="
                    /images/desktop/take-order/part-5.jpg    1x,
                    /images/desktop/take-order/part-5@2x.jpg 2x
                  "
                />
                <img src="/images/desktop/take-order/part-5.jpg" />
              </picture>
            </li>
            <li class="futuristic-flowerpot__item-6 list">
              <picture>
                <source
                  media="(min-width: 1440px)"
                  srcset="
                    /images/desktop/take-order/part-6.jpg    1x,
                    /images/desktop/take-order/part-6@2x.jpg 2x
                  "
                />
                <img src="/images/desktop/take-order/part-6.jpg" />
              </picture>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="bg-wrapper__bg-shape--1"></div>
<div class="bg-wrapper__bg-shape--2"></div>
<div class="bg-wrapper__bg-shape--3"></div>
<div class="bg-wrapper__bg-shape--4"></div>
<div class="bg-wrapper__bg-shape--5"></div>
<div class="bg-wrapper__bg-shape--6"></div>
<div class="bg-wrapper__bg-shape--7"></div>
<div class="bg-wrapper__bg-shape--8"></div>
