html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}
button,
button:active,
button:focus,
input,
input:active,
input:focus,
textarea,
textarea:active,
textarea:focus {
  outline: none;
  border: none;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
body {
  margin-left: 0;
  margin-right: 0;
  font-family: Cera-Pro, sans-serif;
  font-weight: 500;
  color: $text-descr;
  background-color: $primary-white-color;
}
body.modal-open {
  overflow: hidden;
}
select,
textarea {
  font-family: Cera-Pro;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
.container {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  //   @media screen and (min-width: 320px) {
  //     width: 320px;
  //     padding-left: 20px;
  //     padding-right: 20px;
  //   }
  @media screen and (min-width: 768px) {
    width: 768px;
    padding-left: 60px;
    padding-right: 60px;
  }
  @media screen and (min-width: 1440px) {
    width: 1440px;
    padding-left: 189px;
    padding-right: 189px;
  }
}

section {
  padding-bottom: 52px;

  @media screen and (min-width: 1440px) {
    padding-bottom: 100px;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
