html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Cera-Pro, sans-serif;
  font-weight: 500;
  color: $main-text-color;
  background-color: $main-background-color;
  position: relative;

  &.mobile-menu-is-open {
    overflow: hidden;
    padding-top: 93px;

    @media screen and (min-width: 768px) {
      padding-top: 105px;
    }
  }
}

select,
textarea {
  font-family: Cera-Pro;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  &--overflow-is-hidden {
    overflow: hidden;
  }
  @media screen and (min-width: 320px) {
    min-width: 320px;
    padding-left: 20px;
    padding-right: 20px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
    padding-left: 60px;
    padding-right: 60px;
  }
  @media screen and (min-width: 1440px) {
    width: 1440px;
    padding-left: 189px;
    padding-right: 189px;
  }
}

section {
  padding-bottom: 52px;

  @media screen and (min-width: 1440px) {
    padding-bottom: 100px;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.padding-bottom {
  @media screen and (max-width: 1439px) {
    padding-bottom: 76px;
  }
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
