
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

button,
input,
textarea {
  border: none;
}

button:active,
button:focus,
input:active,
input:focus,
textarea:active,
textarea:focus {
  outline: none;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}
