<section class="model-examples">
    <div class="container model-examples__box">
        <!-- Додати клас-компоненту для заголовків загальну! -->
        <h1 class="model-examples__title">Ми створюємо</h1>
        <!-- Додати клас загальних стилів списків, посилань, картинок і тексту! -->
        <ul class="model-examples__list">
            <li class="model-examples__item">
                <a class="model-examples__link" href="">
                    <picture>
                        <sourse media="(min-width: 1200px)"
                        type="image/webp" srcset="./images/deckstope/3d-printing/image.webp 1x, ./images/deckstope/3d-printing/image@2x.webp 2x" />
                        <sourse media="(min-width: 1200px)" srcset="./images/deckstope/3d-printing/image.png 1x, ./images/deckstope/3d-printing/image@2x.png 2x" />
                        <sourse media="(min-width: 768px)"
                        type="image/webp" srcset="./images/tablet/3d-printing/image.webp 1x, ./images/tablet/3d-printing/image@2x.webp 2x">
                        <sourse media="(min-width: 768px)" srcset="./images/tablet/3d-printing/image.png 1x, ./images/tablet/3d-printing/image@2x.png 2x" />
                        <sourse media="(min-width: 320px)"
                        type="image/webp" srcset="./images/mobile/3d-printing/image.webp 1x, ./images/mobile/3d-printing/image@2x.webp 2x">
                        <sourse media="(min-width: 320px)" srcset="./images/mobile/3d-printing/image.png 1x, ./images/mobile/3d-printing/image@2x.png 2x" />
                        <img class="model-examples__img" src="./images/mobile/3d-printing/image.png" alt="Прототип деталей">
                    </picture>
                    <h2 class="model-examples__subtitle">Прототипи</h2> 
                </a>
            </li>
            <li class="model-examples__item">
                <a class="model-examples__link" href="">
                    <picture>
                        <sourse media="(min-width: 1200px)"
                        type="image/webp" srcset="./images/deckstope/3d-printing/image1.webp 1x, ./images/deckstope/3d-printing/image1@2x.webp 2x" />
                        <sourse media="(min-width: 1200px)" srcset="./images/deckstope/3d-printing/image1.png 1x, ./images/deckstope/3d-printing/image1@2x.png 2x" />
                        <sourse media="(min-width: 768px)"
                        type="image/webp" srcset="./images/tablet/3d-printing/image1.webp 1x, ./images/tablet/3d-printing/image1@2x.webp 2x">
                        <sourse media="(min-width: 768px)" srcset="./images/tablet/3d-printing/image1.png 1x, ./images/tablet/3d-printing/image1@2x.png 2x" />
                        <sourse media="(min-width: 320px)"
                        type="image/webp" srcset="./images/mobile/3d-printing/image1.webp 1x, ./images/mobile/3d-printing/image1@2x.webp 2x">
                        <sourse media="(min-width: 320px)" srcset="./images/mobile/3d-printing/image1.png 1x, ./images/mobile/3d-printing/image1@2x.png 2x" />
                        <img class="model-examples__img" src="./images/mobile/3d-printing/image1.png" alt="3D макет будівлі">
                    </picture>
                    <h2 class="model-examples__subtitle">Макети</h2> 
                </a>
            </li>
            <li class="model-examples__item">
                <a class="model-examples__link" href="">
                    <picture>
                        <sourse media="(min-width: 1200px)"
                        type="image/webp" srcset="./images/deckstope/3d-printing/image2.webp 1x, ./images/deckstope/3d-printing/image2@2x.webp 2x" />
                        <sourse media="(min-width: 1200px)" srcset="./images/deckstope/3d-printing/image2.png 1x, ./images/deckstope/3d-printing/image2@2x.png 2x" />
                        <sourse media="(min-width: 768px)"
                        type="image/webp" srcset="./images/tablet/3d-printing/image2.webp 1x, ./images/tablet/3d-printing/image2@2x.webp 2x">
                        <sourse media="(min-width: 768px)" srcset="./images/tablet/3d-printing/image2.png 1x, ./images/tablet/3d-printing/image2@2x.png 2x" />
                        <sourse media="(min-width: 320px)"
                        type="image/webp" srcset="./images/mobile/3d-printing/image2.webp 1x, ./images/mobile/3d-printing/image2@2x.webp 2x">
                        <sourse media="(min-width: 320px)" srcset="./images/mobile/3d-printing/image2.png 1x, ./images/mobile/3d-printing/image2@2x.png 2x" />
                        <img class="model-examples__img" src="./images/mobile/3d-printing/image2.png" alt="Елемент декору">
                    </picture>
                    <h2 class="model-examples__subtitle">Декор</h2> 
                </a>
            </li>
            <li class="model-examples__item">
                <a class="model-examples__link" href="">
                    <picture>
                        <sourse media="(min-width: 1200px)"
                        type="image/webp" srcset="./images/deckstope/3d-printing/image3.webp 1x, ./images/deckstope/3d-printing/image3@2x.webp 2x" />
                        <sourse media="(min-width: 1200px)" srcset="./images/deckstope/3d-printing/image3.png 1x, ./images/deckstope/3d-printing/image3@2x.png 2x" />
                        <sourse media="(min-width: 768px)"
                        type="image/webp" srcset="./images/tablet/3d-printing/image3.webp 1x, ./images/tablet/3d-printing/image3@2x.webp 2x">
                        <sourse media="(min-width: 768px)" srcset="./images/tablet/3d-printing/image3.png 1x, ./images/tablet/3d-printing/image3@2x.png 2x" />
                        <sourse media="(min-width: 320px)"
                        type="image/webp" srcset="./images/mobile/3d-printing/image3.webp 1x, ./images/mobile/3d-printing/image3@2x.webp 2x">
                        <sourse media="(min-width: 320px)" srcset="./images/mobile/3d-printing/image3.png 1x, ./images/mobile/3d-printing/image3@2x.png 2x" />
                        <img class="model-examples__img" src="./images/mobile/3d-printing/image3.png" alt="Куб з написом 3D">
                    </picture>
                    <h2 class="model-examples__subtitle">Корпоративний дизайн</h2> 
                </a>
            </li>
        </ul>
    </div>
</section>