<section class="process-description">
    <div class="container process-description__box">
        <h2 class="process-description__title visually-hidden">Опис процесів розробки 3D моделей</h2>
    <ul class="process-description__list list">
        
        <li class="process-description__item">
            <article class="process-description__product">
                <div class="process-description__thumb">
                <picture>
                    <source media="(min-width: 1440px)"
                    type="image/webp" srcset="/images/desktope/3d-printing/image1-pd.webp 1x" />
                    <source media="(min-width: 1440px)" srcset="/images/desktope/3d-printing/image1-pd.jpg 1x" />
                    <source media="(min-width: 768px)"
                    type="image/webp" srcset="/images/tablet/3d-printing/image1-pd.webp 1x">
                    <source media="(min-width: 768px)" srcset="/images/tablet/3d-printing/image1-pd.jpg 1x" />
                    <source media="(min-width: 320px)"
                    type="image/webp" srcset="/images/mobile/3d-printing/image1-pd.webp 1x">
                    <source media="(min-width: 320px)" srcset="/images/mobile/3d-printing/image1-pd.jpg 1x" />
                    <img class="process-description__img-one" src="/images/mobile/3d-printing/image1-pd.jpg" alt="Елемент декору">
                </picture></div>
                <div class="process-description__info-box">
                <h2 class="process-description__name">3D-друк</h2>
                <p class="process-description__descr">- ми використовуємо FDM технологію друку. Вона представляє собою пошарове формування об'єкта за допомогою 3D принтера.</p>
                <p class="process-description__text">Моделі для створення розроблюються дизайнерами в спеціальному програмному забезпеченні: системах автоматизованого проектування.</p>
                <p class="process-description__text">3D друк знайшов широке застосування в архітектурі, промисловості, маркетингу, мистецтві і багатьох інших сфер.</p>
                <div class="process-description__button">
                <include src="./partials/components/order-btn.html"></include></div>
            </div>
            </article>
        </li>
        <li class="process-description__item">
            <article class="process-description__product">
                <div class="process-description__thumb">
                <picture>
                    <source media="(min-width: 1440px)"
                    type="image/webp" srcset="/images/desktope/3d-printing/image2-pd.webp 1x" />
                    <source media="(min-width: 1440px)" srcset="/images/desktope/3d-printing/image2-pd.jpg 1x" />
                    <source media="(min-width: 768px)"
                    type="image/webp" srcset="/images/tablet/3d-printing/image2-pd.webp 1x">
                    <source media="(min-width: 768px)" srcset="/images/tablet/3d-printing/image2-pd.jpg 1x" />
                    <source media="(min-width: 320px)"
                    type="image/webp" srcset="/images/mobile/3d-printing/image2-pd.webp 1x">
                    <source media="(min-width: 320px)" srcset="/images/mobile/3d-printing/image2-pd.jpg 1x" />
                    <img class="process-description__img-second" src="/images/mobile/3d-printing/image2-pd.jpg" alt="Елемент декору">
                </picture>
            </div>
            <div class="process-description__info-box">
                <h2 class="process-description__name">3D-моделювання</h2>
                <p class="process-description__descr"> - це процес розробки математичного уявлення будь-якої поверхні об'єкта в трьох вимірах за допомогою спеціалізованого програмного забезпечення.</p>
                <p class="process-description__text">Наші дизайнери зпроектують будь-який виріб виходячи з ваших побажань.</p>
                <p class="process-description__text">Розуміючи специфіку 3D друку і ваших задач ми створимо деталь яка повністю задовольнить ваші потреби.</p>
                <div class="process-description__button">
                <include src="./partials/components/order-btn.html"></include>
            </div> </div>
            </article>
        </li>
        <li class="process-description__item">
            <article class="process-description__product">
                <div class="process-description__thumb">
                <picture>
                    <source media="(min-width: 1440px)"
                    type="image/webp" srcset="/images/desktope/3d-printing/image3-pd.webp 1x" />
                    <source media="(min-width: 1440px)" srcset="/images/desktope/3d-printing/image2-pd.jpg 1x" />
                    <source media="(min-width: 768px)"
                    type="image/webp" srcset="/images/tablet/3d-printing/image3-pd.webp 1x">
                    <source media="(min-width: 768px)" srcset="/images/tablet/3d-printing/image3-pd.jpg 1x" />
                    <source media="(min-width: 320px)"
                    type="image/webp" srcset="/images/mobile/3d-printing/image3-pd.webp 1x">
                    <source media="(min-width: 320px)" srcset="/images/mobile/3d-printing/image3-pd.jpg 1x" />
                    <img class="process-description__img-three" src="/images/mobile/3d-printing/image3-pd.jpg" alt="Елемент декору">
                </picture>
                </div>
                <div class="process-description__info-box">
                 <h2 class="process-description__name">3D-сканування</h2>
                 <p class="process-description__descr">- зняття даних, шляхом аналізу форми предмета і на основі отриманих даних створення її 3D-моделі.</p>
                 <p class="process-description__text">Це універсальний інструмент, який дозволяє отримати як і просто 3D-модель для візуалізації в цифровому вигляді, так і 3D-модель для подальшого її друку на 3D-принтері.</p>
                 <div class="process-description__button">
                  <include src="./partials/components/order-btn.html"></include>
                 </div>
                </div>
            </article>
            </li>
    </ul>
    
    </div>
    
    </section>