$accent-color: #5c98d2;
$accent-color-hover: #4382c3;
$main-text-color: #2b2b2b;
$secondary-text-color: #cdcdcd;
$main-background-color: #ffffff;
$main-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$main-duration: 250ms;
$btn-shadow: -10px -10px 20px #ffffff,
  10px 10px 20px rgba(72, 121, 150, 0.2),
  5px 5px 10px rgba(72, 121, 150, 0.25), -5px -5px 10px #ffffff;
$btn-shadow-hover: -10px -10px 20px #ffffff,
  10px 10px 20px rgba(72, 121, 150, 0.5),
  5px 5px 10px rgba(72, 121, 150, 0.25), -5px -5px 10px #ffffff;

$hamburger-padding-x: 0;
$hamburger-padding-y: 0;
$hamburger-layer-width: 32px;
$hamburger-layer-height: 2px;
$hamburger-layer-spacing: 6px;
$hamburger-layer-color: $accent-color;

$title-size-in-mobile: 24px;
$title-size-in-tablet: 36px;
$title-size-in-desktop: 48px;

$paragraph-font-size-mobile-and-tablet: 16px;
$paragraph-font-size-desktop: 18px;