// 3D PRINTING EXAMPLES
.model-examples__title {
  margin-bottom: 16px;

  @include title-styles();
  font-size: $title-size-in-mobile;
  text-transform: uppercase;

  @media screen and (min-width: 768px) {
    margin-bottom: 24px;
    font-size: $title-size-in-tablet;
  }
  @media screen and (min-width: 1440px) {
    font-size: $title-size-in-desktop;
  }
}

.model-examples__list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -15px;
  justify-content: space-between;

  @media screen and (min-width: 768px) {
    flex-wrap: nowrap;
    margin-bottom: 0;
  }
}

.model-examples__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  flex-basis: calc(100% / 2 - 15px);
  min-width: 132px;
  height: 159px;
  margin-bottom: 15px;
  background: $main-background-color;
  opacity: 0.8;
  box-shadow: inset 1px 1px 16px #cbcbcb,
    inset -1px -1px 16px $main-background-color;
  border-radius: 50px 0px;

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
    flex-basis: calc(100% / 4 - 45px);
    min-width: 152px;
    height: 182px;
  }
  @media screen and (min-width: 1440px) {
    flex-basis: auto;
    width: 250px;
    height: 298px;
  }
}
.model-examples__item--left {
  margin-right: 15px;
  @media screen and (min-width: 768px) {
    margin-right: 0;
  }
}

.model-examples__subtitle {
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;

  color: $accent-color;

  @media screen and (min-width: 1440px) {
    width: 200px;

    font-size: 18px;
    line-height: 1.28;
  }
}

// 3D PRINTING DESCRIPTION
.process-description__item {
  margin-bottom: 52px;
  @media screen and (min-width: 768px) {
    margin-bottom: 76px;
  }
  @media screen and (min-width: 1440px) {
    margin-bottom: 100px;
  }
  &--in-top {
    margin-bottom: 0;
  }
}
.process-description__thumb {
  margin-bottom: 16px;
  width: 280px;
  height: 387px;
  border-radius: 50px 0px;
  overflow: hidden;

  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.15);
  @media screen and (min-width: 320px) and (max-width: 767px) {
    margin: 0 auto 16px auto;
  }
  @media screen and (min-width: 768px) {
    min-width: 247px;
    height: 341px;
    margin-bottom: 0;
    margin-right: 20px;
  }
  @media screen and (min-width: 1440px) {
    width: 250px;
    height: 345px;
    margin-right: 78px;
  }
}
.process-description__product {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}
.process-description__info-box {
  font-size: $paragraph-font-size-mobile-and-tablet;
  line-height: 1.25;
  font-weight: 300;
  @media screen and (min-width: 1440px) {
    width: 734px;
    font-size: $paragraph-font-size-desktop;
    line-height: 1.28;
  }
}
.process-description__name {
  display: inline;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 700;
  text-transform: uppercase;

  color: $accent-color;
}
.process-description__descr {
  display: inline;
}
.process-description__text {
  margin-top: 16px;
  @media screen and (min-width: 1440px) {
    margin-top: 24px;
  }
}
.process-description__text--above-btn {
  margin-bottom: 24px;
  @media screen and (min-width: 768px) {
    margin-bottom: 52px;
  }
}
