// 3D MODELING HERO

.modeling {
  &__container {
    @media screen and (min-width: 1440px) {
      padding-left: 189px;
      padding-right: 189px;
    }
  }

  &__title {
    font-size: 24px;

    @media screen and (min-width: 768px) {
      font-size: 36px;
    }

    @media screen and (min-width: 1440px) {
      font-size: 48px;
    }
  }

  &__description {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.25;
    margin-top: 16px;

    @media screen and (min-width: 768px) {
      max-width: 515px;
    }

    @media screen and (min-width: 1440px) {
      min-width: 515px;
      font-size: 18px;
      line-height: 1.28;
      margin-top: 24px;

      &--left {
        margin-right: 32px;
      }
    }
  }
}

.modeling__box {
  @media screen and (min-width: 1440px) {
    display: flex;
  }
}

// 3D MODELING CREATIONS
.methods {
  font-size: 18px;
  line-height: 1.28;
  text-transform: uppercase;

  &__item {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.25;
    margin-top: 16px;
  }

  &__item::before {
    content: '';
    display: inline-block;
    width: 7px;
    height: 7px;
    background: $accent-color;
    border-radius: 3px 0px;
    margin-right: 10px;
    align-items: center;
    transform: translateY(-2px);
  }

  @media screen and (min-width: 768px) {
    font-size: 24px;
  }

  @media screen and (min-width: 1440px) {
    font-size: 36px;

    &__item {
      font-size: 18px;
      line-height: 1.28;
    }
  }
}

.methods__images {
  @media screen and (min-width: 768px) {
    position: relative;
  }
}

.methods__background-model {
  background-image: url(../images/mobile/3d-modeling/image.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  width: 280px;
  height: 164px;
  background-size: contain;
  margin-top: 32px;

  @media screen and (min-width: 768px) {
    background-image: url(../images/tablet/3d-modeling/image.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    left: 466px;
    width: 246px;
    height: 144px;
  }

  @media screen and (min-width: 1440px) {
    background-image: url(../images/desktop/3d-modeling/image.png);
    width: 515px;
    height: 300px;
    background-size: 515px 300px;
    left: 733px;
    top: -92px;
  }

  @include retina-size(mobile) {
    background-image: url(../images/mobile/3d-modeling/image@2x.png);
  }

  @include retina-size(tablet) {
    background-image: url(/images/tablet/3d-modeling/image@2x.png);
    background-size: contain;
  }

  @include retina-size(desktop) {
    background-image: url(../images/desktop/3d-modeling/image@2x.png);
  }
}

// 3D MODELS

.models {
  &__title {
    font-size: 16px;
    text-transform: uppercase;

    @media screen and (min-width: 768px) {
      max-width: 593px;
      font-size: 24px;
    }

    @media screen and (min-width: 1440px) {
      max-width: 842px;
      font-size: 36px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10.77px;
    margin-bottom: 52px;

    @media screen and (min-width: 768px) {
      flex-wrap: unset;
      margin-left: -12.23px;
    }

    @media screen and (min-width: 1440px) {
      margin-bottom: 100px;
    }
  }

  &__item {
    margin-top: 16px;
    margin-left: 10.77px;
    flex-basis: calc((100% - 21.54px) / 2);

    @media screen and (min-width: 768px) {
      margin-top: 24px;
      margin-left: 12.23px;
    }

    @media screen and (min-width: 1440px) {
      margin-top: 52px;
    }
  }
}

.modeling__btn {
  text-align: center;
}
