// 3D SCANNING HERO
.scan-hero {
  @media screen and (max-width: 767px) {
    padding-bottom: 24px;
  }
  @media screen and (max-width: 1439px) {
    padding-bottom: 37px;
  }
}

.scan-hero__container {
  font-family: 'Cera-Pro';
  font-weight: 300;
  font-size: $paragraph-font-size-mobile-and-tablet;
  line-height: 1.25;

  @media screen and (max-width: 319px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media screen and (min-width: 1440px) {
    font-size: $paragraph-font-size-desktop;
    line-height: 1.27;
  }
}

.scan-hero__title {
  @include title-styles();

  margin-bottom: 16px;

  @media screen and (min-width: 768px) {
    font-size: $title-size-in-tablet;
  }

  @media screen and (min-width: 1440px) {
    font-size: $title-size-in-desktop;
  }
}

.scan-hero__descrip-box {
  @media screen and (min-width: 768px) and (max-width: 1439px) {
    position: relative;
  }
  @media screen and (min-width: 1440px) {
    display: flex;
    &-position--left {
      margin-right: 32px;
    }
    &-position--right {
      position: relative;
    }
  }
}

.scan-hero__descrip {
  margin-bottom: $paragraph-font-size-mobile-and-tablet;

  @media screen and (min-width: 768px) {
    max-width: 515px;
    .scan-hero__descip-span {
      display: block;
    }
  }
}

.scan-hero__descrip:last-child {
  margin-bottom: 24px;
}

.scan-hero__bgd-pic {
  background-image: url(../images/mobile/3d-scanning/image.jpg);
  background-color: transparent;
  background-size: cover;

  width: 280px;
  height: 199px;

  @include retina-size(mobile) {
    background-image: url(../images/mobile/3d-scanning/image@2x.jpg);
  }

  @media screen and (min-width: 768px) and (max-width: 1439px) {
    background-image: url(../images/tablet/3d-scanning/image.jpg);

    width: 241px;
    height: 172px;

    position: absolute;

    top: 117px;
    left: 467px;
    z-index: -1;
  }

  @include retina-size(tablet) {
    background-image: url(../images/tablet/3d-scanning/image@2x.jpg);
  }

  @media screen and (min-width: 1440px) {
    background-image: url(../images/desktop/3d-scanning/image.jpg);

    width: 515px;
    height: 368px;

    position: absolute;
    right: 0;
    bottom: -97px;
    z-index: -1;
  }

  @include retina-size(desktop) {
    background-image: url(../images/desktop/3d-scanning/image@2x.jpg);
  }
}

// 3D SCANNING PROCESS
.scan-process {
    position: relative;

  // @media screen and (max-width: 767px) {
  //   position: relative;
  // }
  // @media screen and (min-width: 768px) and (max-width: 1439px) {
  //   position: relative;
  // }

  // @media screen and (min-width: 1440px) {
  //   position: relative;
  // }
}

.scan-process__container {
  @media screen and (max-width: 767px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.scan-process__title {
  font-family: 'Cera-Pro';
  font-size: 18px;
  @include title-styles($l-h: 1.27);

  margin-bottom: 16px;

  @media screen and (min-width: 768px) {
    font-size: 24px;
    line-height: 1.25;
    margin-bottom: 24px;
  }

  @media screen and (min-width: 1440px) {
    font-size: 48px;
    margin-bottom: 52px;
  }
}

.scan-process__list {
  color: $accent-color;
  display: flex;
  margin-top: -15px;
  margin-left: -15px;

  margin-bottom: 52px;
  @media screen and (max-width: 319px) {
    flex-direction: column;
  }

  @media screen and (min-width: 320px) and (max-width: 767px) {
    flex-wrap: wrap;
    margin-top: -12px;
    margin-left: -12px;
  }
  @media screen and (min-width: 1440px) {
    margin-top: -21px;
    margin-left: -21px;
    margin-bottom: 100px;
  }
}

.scan-process__item {
  display: flex;
  justify-content: center;
  align-items: center;

  background: $main-background-color;
  opacity: 0.8;
  box-shadow: inset 1px 1px 16px rgba(203, 203, 203, 0.8),
    inset -1px -1px 16px $main-background-color;

  border-radius: 50px 0px;

  flex-basis: calc(100% / 2 - 15px);
  height: 182px;

  margin-top: 15px;
  margin-left: 15px;

  padding: 22px 15px 15px 15px;

  @media screen and (min-width: 768px) {
    margin-top: 12px;
    margin-left: 12px;
    flex-basis: calc(100% / 4 - 12px);
    padding-left: 23px;
    padding-right: 23px;

    height: 210px;
  }

  @media screen and (min-width: 1440px) {
    margin-top: 21px;
    margin-left: 21px;

    height: 298px;
    padding: 49px 15px 22px 15px;
  }
}

.scan-process__descrip {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  text-align: center;

  @media screen and (min-width: 1440px) {
    font-size: 18px;
    line-height: 1.27;
    font-weight: 300;
  }

  &-before1::before {
    @extend %scan-process-before;

    background-image: url(../images/mobile/3d-scanning/image1.png);

    @include retina-size(mobile) {
      background-image: url(../images/mobile/3d-scanning/image1@2x.png);
    }

    @media screen and (min-width: 768px) {
      width: 108px;
      height: 94px;
      background-size: 108px 94px;
      background-image: url(../images/tablet/3d-scanning/image1.png);
    }
    @include retina-size(tablet) {
      background-image: url(../images/tablet/3d-scanning/image1@2x.png);
    }

    @media screen and (min-width: 1440px) {
      margin-bottom: 27px;
      width: 177px;
      height: 154px;
      background-size: 177px 154px;
      background-image: url(../images/desktop/3d-scanning/image1.png);
    }
    @include retina-size(desktop) {
      background-image: url(../images/desktop/3d-scanning/image1@2x.png);
    }
  }

  &-before2::before {
    @extend %scan-process-before;

    background-image: url(../images/mobile/3d-scanning/image2.png);

    @include retina-size(mobile) {
      background-image: url(../images/mobile/3d-scanning/image2@2x.png);
    }

    @media screen and (min-width: 768px) {
      width: 108px;
      height: 94px;
      background-size: 108px 94px;
      background-image: url(../images/tablet/3d-scanning/image1.png);
    }
    @include retina-size(tablet) {
      background-image: url(../images/tablet/3d-scanning/image2@2x.png);
    }

    @media screen and (min-width: 1440px) {
      margin-bottom: 27px;
      width: 177px;
      height: 154px;
      background-size: 177px 154px;
      background-image: url(../images/desktop/3d-scanning/image2.png);
    }
    @include retina-size(desktop) {
      background-image: url(../images/desktop/3d-scanning/image2@2x.png);
    }
  }

  &-before3::before {
    @extend %scan-process-before;

    background-image: url(../images/mobile/3d-scanning/image3.png);

    @include retina-size(mobile) {
      background-image: url(../images/mobile/3d-scanning/image2@2x.png);
    }

    @media screen and (min-width: 768px) {
      width: 108px;
      height: 94px;
      background-size: 108px 94px;
      background-image: url(../images/tablet/3d-scanning/image3.png);
    }
    @include retina-size(tablet) {
      background-image: url(../images/tablet/3d-scanning/image3@2x.png);
    }

    @media screen and (min-width: 1440px) {
      margin-bottom: 27px;
      width: 177px;
      height: 154px;
      background-size: 177px 154px;
      background-image: url(../images/desktop/3d-scanning/image3.png);
    }
    @include retina-size(desktop) {
      background-image: url(../images/desktop/3d-scanning/image3@2x.png);
    }
  }

  &-before4::before {
    @extend %scan-process-before;

    background-image: url(../images/mobile/3d-scanning/image4.png);

    @include retina-size(mobile) {
      background-image: url(../images/mobile/3d-scanning/image4@2x.png);
    }

    @media screen and (min-width: 768px) {
      width: 108px;
      height: 94px;
      background-size: 108px 94px;
      background-image: url(../images/tablet/3d-scanning/image4.png);
    }
    @include retina-size(tablet) {
      background-image: url(../images/tablet/3d-scanning/image4@2x.png);
    }

    @media screen and (min-width: 1440px) {
      margin-bottom: 27px;
      width: 177px;
      height: 154px;
      background-size: 177px 154px;
      background-image: url(../images/desktop/3d-scanning/image4.png);
    }
    @include retina-size(desktop) {
      background-image: url(../images/desktop/3d-scanning/image4@2x.png);
    }
  }
}

.scan-process__descrip-span {
  display: block;
  @media screen and (min-width: 1440px) {
    display: contents;
  }
}

.scan-process__br-desktop {
  @media screen and (max-width: 1439px) {
    display: none;
  }
}

.scan-process__order-btn {
  text-align: center;
}
