// CONTACT
.contact__title {
  font-family: Cera-Pro;
  font-size: $title-size-in-mobile;
  @include title-styles();
  margin-bottom: 16px;
}

.contact__paragraph {
  font-family: Cera-Pro;
  font-style: normal;
  font-weight: 300;
  font-size: $paragraph-font-size-mobile-and-tablet;
  line-height: 1.25;
  color: $main-text-color;
  &:not(:last-child) {
    margin-bottom: 16px;
  }
}
.contact__main {
  font-family: Cera-Pro;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.28;
  color: $main-text-color;
}

.smile::after {
  content: '\1F609';
}

.contact__contact-title {
  font-family: Cera-Pro;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.25;
  color: $accent-color;
  margin-bottom: 8px;
}

.contact__contact-part-discription {
  font-family: Cera-Pro;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  text-transform: capitalize;
  color: $main-text-color;

  &:not(:last-child) {
    margin-bottom: 8px;
  }
}
.contact__contact-part:not(:last-child) {
  margin-bottom: 24px;
}

.video {
  margin-bottom: 16px;
}
.contact__video {
  width: 100%;
  border-radius: 15px;
}

//  CONTACT FORM

.contact__form {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .contact__title {
    font-size: $title-size-in-tablet;
  }
  .contact__top-part {
    display: flex;
  }
  .contact__paragraph:not(:last-child) {
    margin-bottom: 16px;
  }
  .video {
    width: 100%;
    height: 192px;
    margin-bottom: 16px;
    margin-right: 20px;

    .contact__video {
      width: 100%;
      height: 100%;
    }
  }
}
@media screen and (min-width: 1440px) {
  .contact__paragraph {
    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  .smile::after {
    display: block;
    width: 49px;
    height: 49px;
    font-size: 36px;
    padding: 0px;
    margin-top: 58px;
  }
  .contact__title {
    font-size: $title-size-in-desktop;
  }
  .contact__paragraph {
    font-size: $paragraph-font-size-desktop;
    line-height: 1.278;
  }
  .contact__video {
    display: block;
  }

  .video {
    width: 515px;
    height: 315px;
    margin-right: 32px;
    .contact__video {
      width: 515px;
      height: 315px;
    }
  }
}
.contact__form {
  .order-form__wrapper--pseudo {
    display: none;
  }
}

.contact__desk {
  @media screen and (min-width: 768px) {
    .contact-info {
      width: 100%;
    }
  }

  @media screen and (min-width: 1440px) {
    .contact-info,
    .contact-info__time-list,
    .contact-info__wrapper-item-div {
      text-align: left;
      justify-content: flex-start;
    }
    .contact-info__wrapper:not(:last-child) {
      margin-bottom: 68px;
    }
  }
}
