// HERO
.main__page-title {
  width: 280px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 32px;
  font-family: 'CaviarDreams';
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  color: $main-text-color;

  @media screen and (min-width: 768px) {
    width: 420px;
    font-size: 24px;
    margin-bottom: 64px;
  }

  @media screen and (min-width: 1440px) {
    width: 624px;
    font-size: 48px;
    margin-bottom: 68px;
  }
}

.wrapper__carousel {
  display: flex;
  justify-content: center;
  position: relative;
}

.carousel {
  display: flex;
  width: 100%;
  margin: calc(-1 * 7px);
  margin-bottom: 32px;

  @media screen and (min-width: 768px) {
    width: 380px;
    margin: calc(-1 * 10px);
    margin-bottom: 64px;
  }

  @media screen and (min-width: 1440px) {
    width: 688px;
    margin: calc(-1 * 18px);
    margin-bottom: 100px;
  }
}

.carousel__item {
  margin: 7px;
  flex-basis: calc(100% / 3 - 7px * 2);

  @media screen and (min-width: 768px) {
    margin: 10px;
    flex-basis: calc(100% / 3 - 10px * 2);
  }

  @media screen and (min-width: 1440px) {
    margin: 18px;
    flex-basis: calc(100% / 3 - 18px * 2);
  }
}

.carousel__img--round-top-right {
  display: block;
  border-radius: 0px 35px 0px 0px;
  overflow: hidden;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.3);
}

.carousel__img--round {
  display: block;
  border-radius: 100px;
  overflow: hidden;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.3);
}

.carousel__img--round-top-right-down-left {
  display: block;
  border-radius: 0px 25px;
  overflow: hidden;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.3);
}

.hero__ancor-gide--arrow {
  display: none;
  fill: $accent-color;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 16px;
    width: 16px;
    display: block;
    position: absolute;
    bottom: 62px;
    left: 75px;
  }

  @media screen and (min-width: 1440px) {
    display: inherit;
    height: 32px;
    width: 32px;
    bottom: 40px;
    left: 43px;
  }
}

.hero__section-description {
  font-family: 'CaviarDreams';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: $main-text-color;

  @media screen and (min-width: 768px) {
    font-size: 18px;
    line-height: 1.17;
  }

  @media screen and (min-width: 1440px) {
    font-size: 36px;
  }
}

.main__section-title {
  @include title-styles();

  font-size: $title-size-in-mobile;
  margin-bottom: 16px;
  text-transform: uppercase;

  @media screen and (min-width: 768px) {
    font-size: $title-size-in-tablet;
    margin-bottom: 32px;
  }

  @media screen and (min-width: 1440px) {
    font-size: $title-size-in-desktop;
    margin-bottom: 52px;
  }
}

// GALLERY
.gallery__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-right: calc(-1 * 18px);
  }

  @media screen and (min-width: 1440px) {
    margin-right: calc(-1 * 32px);
  }
}

.gallery__item {
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  @media screen and (min-width: 768px) {
    margin-right: 18px;
    flex-basis: calc(100% / 2 - 18px);
    &:not(:nth-child(n + 3)) {
      margin-bottom: 32px;
    }
  }

  @media screen and (min-width: 1440px) {
    margin-right: 32px;
    flex-basis: calc(100% / 2 - 32px);
    &:not(:nth-child(n + 3)) {
      margin-bottom: 56px;
    }
  }
}

.gallery__img {
  display: block;
  margin-bottom: 8px;

  @media screen and (min-width: 768px) {
    margin-bottom: 16px;
  }
}

.gallery__sub-title {
  font-weight: 300;
  font-size: $paragraph-font-size-mobile-and-tablet;
  line-height: 1.25;
  color: $accent-color;

  @media screen and (min-width: 1440px) {
    font-size: $paragraph-font-size-desktop;
    line-height: 1.28;
  }
}

// MORE PHOTO
.more-photo__list {
  margin-bottom: 32px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: calc(-1 * 9px);
  }

  @media screen and (min-width: 1440px) {
    margin: calc(-1 * 16px);
  }
}

.more-photo__item {
  cursor: pointer;
  @media screen and (max-width: 767px) {
    &:not(:nth-child(-n + 3)) {
      display: none;
    }

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  @media screen and (min-width: 768px) {
    margin: 9px;
  }

  @media screen and (min-width: 1440px) {
    margin: 16px;
  }
}
