// TAKE ORDER
.position-box {
  position: relative;
}
.take-order__title {
  font-weight: bold;
  text-align: center;
  font-size: $title-size-in-mobile;
  line-height: 1.25;

  color: $accent-color;

  @media screen and (min-width: 768px) {
    text-align: left;
    font-size: $title-size-in-tablet;
  }

  @media screen and (min-width: 1440px) {
    font-size: $title-size-in-desktop;
  }
}

.take-order-box {
  @media screen and (min-width: 768px) {
    display: flex;
    margin-top: 24px;
  }
}

.take-order-main-image {
  width: 280px;
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  overflow: hidden;

  @media screen and (min-width: 768px) {
    width: 247px;
    height: 116px;
    margin-left: 0;
    margin-right: 20px;
    margin-top: 0;
  }

  @media screen and (min-width: 1440px) {
    width: 515px;
    height: 315px;
    margin-right: 32px;
  }
}

.take-order-info {
  @media screen and (min-width: 768px) {
    max-width: 381px;
  }
  @media screen and (min-width: 1440px) {
    max-width: 515px;
  }
}

.take-order-description {
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    margin-top: 0;
    width: 381px;
  }

  @media screen and (min-width: 1440px) {
    width: 515px;
  }
}

.take-order__text {
  font-weight: 300;
  font-size: $paragra-paragraph-mobile-and-tablet;
  line-height: 1.25;
  color: $main-text-color;

  @media screen and (min-width: 1440px) {
    font-size: $paragra-paragraph-desktop;
    line-height: 1.28;
  }

  & + .take-order__text {
    margin-top: 16px;

    @media screen and (min-width: 1440px) {
      margin-top: 24px;
    }
  }
}

.take-order__list {
  display: none;
  margin-top: 55px;

  @media screen and (min-width: 1440px) {
    display: flex;
  }
}

.take-order__item {
  width: 144px;
  height: 144px;
  overflow: hidden;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.25);

  &:not(:last-child) {
    margin-right: 42px;
  }
}

.desc-box-1 {
  border-radius: 0 72px 72px 0;
}
.desc-box-2 {
  border-radius: 72px 0 72px 0;
}
.desc-box-3 {
  border-radius: 0 0 72px 0;
}

.take-order-info-box {
  display: flex;
  flex-direction: column;
  margin-top: 52px;

  @media screen and (min-width: 1440px) {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.take-order-form {
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 1440px) {
    margin-left: 0;
    margin-right: 0;
  }
}

.take-order-contacts {
  margin-top: 52px;

  @media screen and (min-width: 768px) {
    margin-top: 76px;
  }

  @media screen and (min-width: 1440px) {
    margin-top: 0;
  }
}

.futuristic-flowerpot {
  display: none;

  @media screen and (min-width: 1440px) {
    display: unset;
  }
}

.futuristic-flowerpot__list {
  position: relative;
  width: 530px;
  height: 325px;
  margin-top: 76px;
}

.futuristic-flowerpot__item-1 {
  position: absolute;
  top: 0;
  right: 296px;
  width: 138.42px;
  height: 138.42px;
  border-radius: 0 72px 0 0;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.futuristic-flowerpot__item-2 {
  position: absolute;
  top: 0;
  right: 148px;

  width: 138.42px;
  height: 138.42px;
  border-radius: 0 0 0 72px;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.futuristic-flowerpot__item-3 {
  position: absolute;
  top: 0;
  right: 0;
  width: 138.42px;
  height: 138.42px;
  border-radius: 72px 0px;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.futuristic-flowerpot__item-4 {
  position: absolute;
  top: 148px;
  right: 296px;
  width: 138.42px;
  height: 138.42px;
  border-radius: 0 72px;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.futuristic-flowerpot__item-5 {
  position: absolute;
  top: 150px;
  right: 148px;
  width: 138.42px;
  height: 138.42px;
  border-radius: 72px;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.futuristic-flowerpot__item-6 {
  position: absolute;
  top: 148px;
  right: 0;
  width: 138.42px;
  height: 138.42px;
  border-radius: 0 0 72px 0;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
