// TAKE ORDER
.take-order__container {
  position: relative;
}
.take-order__title {
  @include title-styles();
  text-align: center;
  font-size: $title-size-in-mobile;

  @media screen and (min-width: 768px) {
    text-align: left;
    font-size: $title-size-in-tablet;
  }

  @media screen and (min-width: 1440px) {
    font-size: $title-size-in-desktop;
  }
}

.take-order__box {
  @media screen and (min-width: 768px) {
    display: flex;
    margin-top: 24px;
  }
}

.take-order__main-image {
  width: 280px;
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  overflow: hidden;

  @media screen and (min-width: 768px) {
    width: 247px;
    height: 116px;
    margin-left: 0;
    margin-right: 20px;
    margin-top: 0;
  }

  @media screen and (min-width: 1440px) {
    width: 515px;
    height: 315px;
    margin-right: 32px;
  }
}

.take-order__info {
  @media screen and (min-width: 768px) {
    max-width: 381px;
  }
  @media screen and (min-width: 1440px) {
    max-width: 515px;
  }
}

.take-order__description {
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    margin-top: 0;
    width: 381px;
  }

  @media screen and (min-width: 1440px) {
    width: 515px;
  }
}

.take-order__text {
  font-weight: 300;
  font-size: $paragraph-font-size-mobile-and-tablet;
  line-height: 1.25;
  color: $main-text-color;

  @media screen and (min-width: 1440px) {
    font-size: $paragraph-font-size-desktop;
    line-height: 1.28;
  }

  & + .take-order__text {
    margin-top: 16px;

    @media screen and (min-width: 1440px) {
      margin-top: 24px;
    }
  }
}

.take-order__list {
  display: none;
  margin-top: 55px;

  @media screen and (min-width: 1440px) {
    display: flex;
  }
}

.take-order__item {
  width: 144px;
  height: 144px;
  overflow: hidden;
  box-shadow: 20px 15px 20px rgba(0, 0, 0, 0.25);

  &:not(:last-child) {
    margin-right: 42px;
  }
}
.take-order__pic-1 {
  border-radius: 0 72px 72px 0;
}
.take-order__pic-2 {
  border-radius: 72px 0 72px 0;
}
.take-order__pic-3 {
  border-radius: 0 0 72px 0;
}
.take-order__pic-4 {
  border-radius: 0 72px 0 72px;
}
.take-order__pic-5 {
  border-radius: 72px 0 0 72px;
}
.take-order__pic-6 {
  border-radius: 72px 0 0 0;
}

.take-order__img {
  width: 144px;
  height: 144px;
}

.take-order__form-container {
  display: flex;
  flex-direction: column;
  margin-top: 52px;

  @media screen and (min-width: 1440px) {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.take-order__order-form {
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 1440px) {
    margin-left: 0;
    margin-right: 0;
  }
}

.take-order__contacts {
  margin-top: 52px;

  @media screen and (min-width: 768px) {
    margin-top: 76px;
  }

  @media screen and (min-width: 1440px) {
    margin-top: 0;
  }
}

.futuristic-flowerpot {
  display: none;

  @media screen and (min-width: 1440px) {
    display: unset;
  }
}

.futuristic-flowerpot__list {
  position: relative;
  width: 530px;
  height: 325px;
  margin-top: 76px;
}

.futuristic-flowerpot__item-1 {
  @extend %futuristic-flowerpot;

  right: 296px;
  border-radius: 0 72px 0 0;
}

.futuristic-flowerpot__item-2 {
  @extend %futuristic-flowerpot;

  top: 0;
  right: 148px;

  border-radius: 0 0 0 72px;
}
.futuristic-flowerpot__item-3 {
  @extend %futuristic-flowerpot;

  top: 0;
  right: 0;

  border-radius: 72px 0px;
}
.futuristic-flowerpot__item-4 {
  @extend %futuristic-flowerpot;

  top: 148px;
  right: 296px;

  border-radius: 0 72px;
}
.futuristic-flowerpot__item-5 {
  @extend %futuristic-flowerpot;

  top: 150px;
  right: 148px;

  border-radius: 72px;
}
.futuristic-flowerpot__item-6 {
  @extend %futuristic-flowerpot;

  top: 148px;
  right: 0;

  border-radius: 0 0 72px 0;
}

.slick-list {
  overflow: hidden;
  padding-bottom: 35px;
}
.slick-track {
  display: flex;
}
