<div class="contact-info">
  <div class="contact-info__wrap contact-info-wrapper">
    <h2 class="contact-info-wrapper__title">ТЕЛЕФОНИ</h2>
    <ul class="contact-info-wrapper__list list">
      <li class="contact-info-wrapper__item">
        <a
          class="link contact-info-wrapper__link"
          href="tel:+380957384551"
          >+38 (095) -73-84-551</a
        >
      </li>
      <li class="contact-info-wrapper__item">
        <a
          class="link contact-info-wrapper__link"
          href="tel:+380980025235"
          >+38 (098) -00-25-235</a
        >
      </li>
    </ul>
  </div>

  <div class="contact-info__wrap contact-info__wrapper">
    <h2 class="contact-info-wrapper__title">Email</h2>

    <ul class="contact-info-wrapper__list list">
      <li class="contact-info-wrapper__item">
        <a
          class="link contact-info-wrapper__link"
          href="mailto:3dfreedom.info@gmail.com"
          >3dfreedom.info@gmail.com</a
        >
      </li>
    </ul>
  </div>

  <div class="contact-info__wrap contact-info__wrapper">
    <h2 class="contact-info-wrapper__title">РОБОЧИЙ ЧАС</h2>
    <ul class="contact-info-wrapper__list list">
      <div class="contact-info-wrapper__list-div">
        <div class="contact-info__wrapper-item-div">
          <li class="contact-info__wrapper-item-div__day">Пн-пт:</li>
          <li class="contact-info__wrapper-item-div__time">
            з 8:00 до 19:00
          </li>
        </div>
        <div class="contact-info__wrapper-item-div">
          <li class="contact-info__wrapper-item-div__day">Сб, Нд:</li>
          <li class="contact-info__wrapper-item-div__time">
            з 10:00 до 17:00
          </li>
        </div>
      </div>
    </ul>
  </div>
</div>
