<div class="main-bg-wrapper">
  <div
    class="main-bg-wrapper__bg-shape main-bg-wrapper__bg-shape--1"
  ></div>
  <div
    class="main-bg-wrapper__bg-shape main-bg-wrapper__bg-shape--2"
  ></div>
  <div
    class="main-bg-wrapper__bg-shape main-bg-wrapper__bg-shape--3"
  ></div>
  <div
    class="main-bg-wrapper__bg-shape main-bg-wrapper__bg-shape--4"
  ></div>
  <div
    class="main-bg-wrapper__bg-shape main-bg-wrapper__bg-shape--5"
  ></div>
  <div
    class="main-bg-wrapper__bg-shape main-bg-wrapper__bg-shape--6"
  ></div>
  <div
    class="main-bg-wrapper__bg-shape main-bg-wrapper__bg-shape--7"
  ></div>
  <div
    class="main-bg-wrapper__bg-shape main-bg-wrapper__bg-shape--8"
  ></div>
  <div
    class="main-bg-wrapper__bg-shape main-bg-wrapper__bg-shape--9"
  ></div>
  <div
    class="main-bg-wrapper__bg-shape main-bg-wrapper__bg-shape--10"
  ></div>
  <div
    class="main-bg-wrapper__bg-shape main-bg-wrapper__bg-shape--11"
  ></div>
  <div
    class="main-bg-wrapper__bg-shape main-bg-wrapper__bg-shape--12"
  ></div>
  <div
    class="main-bg-wrapper__bg-shape main-bg-wrapper__bg-shape--13"
  ></div>
  <div
    class="main-bg-wrapper__bg-shape main-bg-wrapper__bg-shape--14"
  ></div>
  <div
    class="main-bg-wrapper__bg-shape main-bg-wrapper__bg-shape--15"
  ></div>
  <div
    class="main-bg-wrapper__bg-shape main-bg-wrapper__bg-shape--16"
  ></div>
  <div
    class="main-bg-wrapper__bg-shape main-bg-wrapper__bg-shape--17"
  ></div>
  <div
    class="main-bg-wrapper__bg-shape main-bg-wrapper__bg-shape--18"
  ></div>
  <div
    class="main-bg-wrapper__bg-shape main-bg-wrapper__bg-shape--19"
  ></div>
  <div
    class="main-bg-wrapper__bg-shape main-bg-wrapper__bg-shape--20"
  ></div>
  <div
    class="main-bg-wrapper__bg-shape main-bg-wrapper__bg-shape--21"
  ></div>
  <div
    class="main-bg-wrapper__bg-shape main-bg-wrapper__bg-shape--22"
  ></div>
  <div
    class="main-bg-wrapper__bg-shape main-bg-wrapper__bg-shape--23"
  ></div>
  <div
    class="main-bg-wrapper__bg-shape main-bg-wrapper__bg-shape--24"
  ></div>
  <div
    class="main-bg-wrapper__bg-shape main-bg-wrapper__bg-shape--25"
  ></div>
  <div
    class="main-bg-wrapper__bg-shape main-bg-wrapper__bg-shape--26"
  ></div>
  <div
    class="main-bg-wrapper__bg-shape main-bg-wrapper__bg-shape--27"
  ></div>
  <div
    class="main-bg-wrapper__bg-shape main-bg-wrapper__bg-shape--28"
  ></div>
</div>
