<div class="contact-info">
  <h2 class="contact-info__title">ТЕЛЕФОНИ</h2>
  <ul class="contact-info__list">
    <li class="contact-info__item">+38 (095) -73-84-551</li>
    <li class="contact-info__item">+38 (098) -00-25-235</li>
  </ul>

  <h2 class="contact-info__title">Email</h2>

  <ul class="contact-info__list">
    <li class="contact-info__item">3dfreedom.info@gmail.com</li>
  </ul>

  <h2 class="contact-info__title">РОБОЧИЙ ЧАС</h2>
  <ul class="contact-info__list">
    <li class="contact-info__item">Пн-пт:</li>
    <li class="contact-info__item-time">з 8:00 до 19:00</li>
    <li class="contact-info__item">Сб, Нд:</li>
    <li class="contact-info__item-time">з 10:00 до 17:00</li>
  </ul>
</div>
