<div class="contact-info">
  <div class="contact-info__wrapper">
    <h2 class="contact-info__title">ТЕЛЕФОНИ</h2>
    <ul class="contact-info__list list">
      <li class="contact-info__item">+38 (095) -73-84-551</li>
      <li class="contact-info__item">+38 (098) -00-25-235</li>
    </ul>
  </div>

  <div class="contact-info__wrapper">
    <h2 class="contact-info__title">Email</h2>

    <ul class="contact-info__list list">
      <li class="contact-info__item">3dfreedom.info@gmail.com</li>
    </ul>
  </div>

  <div class="contact-info__wrapper">
    <h2 class="contact-info__title">РОБОЧИЙ ЧАС</h2>
    <ul class="contact-info__time-list list">
      <div class="contact-info__list-wrapper">
        <div class="contact-info__item-wrapper">
          <li class="contact-info__item-day">Пн-пт:</li>
          <li class="contact-info__item-time">з 8:00 до 19:00</li>
        </div>
        <div class="contact-info__item-wrapper">
          <li class="contact-info__item-day">Сб, Нд:</li>
          <li class="contact-info__item-time">з 10:00 до 17:00</li>
        </div>
      </div>
    </ul>
  </div>
</div>
