<div
  class="gallery-overlay__backdrop gallery-overlay__is-hidden"
  gallery-overlay
  gallery-overlay-close
>
  <div class="gallery-overlay__wrapper">
    <div class="gallery-overlay__symbol-left-wrap">
      <svg class="gallery-overlay__symbol-left">
        <use href="/images/sprite.svg#icon-arrow-left"></use>
      </svg>
    </div>

    <div class="gallery-overlay__symbol-right-wrap">
      <svg class="gallery-overlay__symbol-right">
        <use href="/images/sprite.svg#icon-arrow-right"></use>
      </svg>
    </div>

    <picture class="gallery-overlay__pic">
      <source
        media="(min-width: 1440px)"
        srcset="
          ./images/desktop/main/gallery-overlay.jpg    1x,
          ./images/desktop/main/gallery-overlay@2x.jpg 2x
        "
      />

      <source
        media="(min-width: 768px)"
        srcset="
          ./images/tablet/main/gallery-overlay.jpg    1x,
          ./images/tablet/main/gallery-overlay@2x.jpg 2x
        "
      />

      <source
        media="(min-width: 320px)"
        srcset="
          ./images/mobile/main/gallery-overlay.jpg    1x,
          ./images/mobile/main/gallery-overlay@2x.jpg 2x
        "
      />
      <img
        src="./images/mobile/main/gallery-overlay.jpg"
        alt="Фігурки настільних ламп, надрукована на 3D принтері"
      />
    </picture>
  </div>
</div>
<script src="./js/gallery-overlay.js"></script>
