<footer class="footer">
  <div class="footer__box container">
    <div class="footer__logo--wrapper">
      <a class="footer__logo" href="./index.html">
        <picture>
          <source
            srcset="
              ./images/logo/footer-logo.webp    1x,
              ./images/logo/footer-logo@2x.webp 2x
            "
            type="image/webp"
            media="(min-width:1440px)" />
          <source
            srcset="
              ./images/logo/footer-logo.png 1x,
              ./images/logo/footer-logo.png 2x
            "
            media="(min-width:14400px)" />
          <img src="./images/logo/footer-logo.png" alt="Логотип"
        /></picture>
      </a>
    </div>
    <div class="footer__container">
      <nav class="footer-nav">
        <ul class="list">
          <li class="footer-nav__item">
            <a class="footer-nav__link link" href="./index.html"
              >Головна</a
            >
          </li>
          <li class="footer-nav__item">
            <a class="footer-nav__link link" href="./3d-modeling.html"
              >3D Моделювання</a
            >
          </li>
          <li class="footer-nav__item">
            <a class="footer-nav__link link" href="./3d-scanning.html"
              >3D Сканування</a
            >
          </li>
          <li class="footer-nav__item">
            <a class="footer-nav__link link" href="./3d-printing.html"
              >3D Друк</a
            >
          </li>
          <li class="footer-nav__item">
            <a class="footer-nav__link link" href="./order-page.html"
              >Замовити</a
            >
          </li>
          <li class="footer-nav__item">
            <a class="footer-nav__link link" href="./contact.html"
              >Контакти</a
            >
          </li>
        </ul>
      </nav>
      <div class="footer-social">
        <ul class="list">
          <li class="footer-social__item">
            <a class="footer-social__link link" href="#">Instagram</a>
          </li>
          <li class="footer-social__item">
            <a class="footer-social__link link" href="#">YouTube</a>
          </li>
          <li class="footer-social__item">
            <a class="footer-social__link link" href="#">Facebook</a>
          </li>
        </ul>
      </div>
      <address class="footer-contact">
        <p class="footer-contact__mail--heading">Email</p>
        <a
          class="footer-contact__link link"
          href="mailto:3dfreedom.info@gmail.com"
          >3dfreedom.info@gmail.com</a
        >
        <p class="footer-contact__tel--heading">Телефони</p>
        <ul class="list">
          <li class="footer-contact__tel--item">
            <a
              class="footer-contact__tel--link link"
              href="tel:+380936432288"
              >+38 (093) 643 22 88</a
            >
          </li>
          <li class="footer-contact__tel--item">
            <a
              class="footer-contact__tel--link link"
              href="tel:+380503454423"
              >+38 (050) 345 44 23</a
            >
          </li>
        </ul>
      </address>
    </div>
  </div>
</footer>
