<header class="header">
  <div class="container header__container">
    <div class="header__segment header__segment--right">
      <a class="logo logo__link link" href="/index.html">
        <picture class="logo__img">
          <source
            media="(min-width: 1440px)"
            srcset="
              /images/logo/desktop-logo.webp    1x,
              /images/logo/desktop-logo@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              /images/logo/desktop-logo.png    1x,
              /images/logo/desktop-logo@2x.png 2x
            "
            type="image/png"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /images/logo/tablet-logo.webp    1x,
              /images/logo/tablet-logo@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /images/logo/tablet-logo.png    1x,
              /images/logo/tablet-logo@2x.png 2x
            "
            type="image/png"
          />
          <source
            media="(min-width: 320px)"
            srcset="
              /images/logo/mobile-logo.webp    1x,
              /images/logo/mobile-logo@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 320px)"
            srcset="
              /images/logo/mobile-logo.png    1x,
              /images/logo/mobile-logo@2x.png 2x
            "
            type="image/png"
          />
          <img src="/images/logo/mobile-logo.png" alt="Логотип" />
        </picture>
      </a>
    </div>
    <nav class="site-nav header__segment header__segment--center">
      <button
        class="
          hamburger
          is-active
          btn
          header__btn header__btn--mobile-menu
        "
        type="button"
        mobile-menu-open
      >
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
      <ul class="site-nav__list list">
        <li class="site-nav__item">
          <a class="site-nav__link link" href="/index.html"
            >Головна</a
          >
        </li>
        <li class="site-nav__item site-nav__select" drop-menu-open>
          Послуги
          <div class="drop-menu site-nav__drop-menu" drop-menu>
            <ul class="drop-menu__list list">
              <li
                class="
                  drop-menu__item
                  site-nav__item site-nav__item--desktop-hidden
                "
              >
                <a
                  class="site-nav__link link"
                  href="/3d-modeling.html"
                  ><span lang="en">3D</span> Моделювання</a
                >
              </li>
              <li
                class="
                  drop-menu__item
                  site-nav__item site-nav__item--desktop-hidden
                "
              >
                <a
                  class="site-nav__link link"
                  href="/3d-scanning.html"
                  ><span lang="en">3D</span> Сканування</a
                >
              </li>
              <li
                class="
                  drop-menu__item
                  site-nav__item site-nav__item--desktop-hidden
                "
              >
                <a
                  class="site-nav__link link"
                  href="/3d-printing.html"
                  ><span lang="en">3D</span> Друк</a
                >
              </li>
            </ul>
          </div>
        </li>

        <li class="site-nav__item">
          <a class="site-nav__link link" href="/order-page.html"
            >Замовити</a
          >
        </li>
        <li class="site-nav__item">
          <a class="site-nav__link link" href="/contact.html"
            >Контакти</a
          >
        </li>
      </ul>
    </nav>
    <div class="header__segment">
      <button
        class="btn header__btn header__btn--call"
        type="button"
        phone-list-open
      >
        <svg class="tel-icon header__tel-icon" viewBox="0 0 32 32">
          <use href="/images/sprite.svg#icon-ic_round-call"></use>
        </svg>
        <ul class="contacts header__contacts--mobile list" phone-list>
          <li class="contacts__item">
            <a class="contacts__link link" href="tel:00380936432288">
              <svg
                class="tel-icon contacts__tel-icon"
                viewBox="0 0 32 32"
              >
                <use
                  href="/images/sprite.svg#icon-ic_round-call"
                ></use>
              </svg>
              +38 (093) 643 22 88
            </a>
          </li>
          <li class="contacts__item">
            <a class="contacts__link link" href="tel:00380503454423">
              <svg
                class="tel-icon contacts__tel-icon"
                viewBox="0 0 32 32"
              >
                <use
                  href="/images/sprite.svg#icon-ic_round-call"
                ></use>
              </svg>
              +38 (050) 345 44 23
            </a>
          </li>
        </ul>
      </button>
      <select class="language-list" name="language">
        <option value="UKR" class="language-list__item" lang="en">
          UKR
        </option>
        <option
          value="ENG"
          selected
          class="language-list__item"
          lang="en"
        >
          ENG
        </option>
        <option value="RUS" class="language-list__item" lang="en">
          RUS
        </option>
      </select>
      <ul class="contacts header__contacts--tablet-desktop list">
        <li class="contacts__item">
          <a class="contacts__link link" href="tel:00380936432288">
            <svg
              class="tel-icon contacts__tel-icon"
              viewBox="0 0 32 32"
            >
              <use href="/images/sprite.svg#icon-ic_round-call"></use>
            </svg>
            +38 (093) 643 22 88
          </a>
        </li>
        <li class="contacts__item">
          <a class="contacts__link link" href="tel:00380503454423">
            <svg
              class="tel-icon contacts__tel-icon"
              viewBox="0 0 32 32"
            >
              <use href="/images/sprite.svg#icon-ic_round-call"></use>
            </svg>
            +38 (050) 345 44 23
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
<script defer src="././js/phone-list.js"></script>
<script defer src="./js/drop-menu.js"></script>
