<!-- mobile menu -->
<div class="mobile-menu is-hidden" mobile-menu>
    <include src="./partials/components/_bg-wrapper.html"></include>
    <div class="mobile-menu__container">
        <ul class="menu__list list">
            <li class="menu__item ">
                <a href="./index.html" class="menu__link link current">Головна</a>
            </li>
            <li class="menu__item">
                <p class="menu__link">Послуги</p>
                <li class="menu__services-item">
                    <a href="./3d-modeling.html" class="services-menu__link link">3D Моделювання</a>
                </li>
                <li class="menu__services-item">
                    <a href="./3d-scanning.html" class="services-menu__link link">3D Сканування</a>
                </li>
                <li class="menu__services-item">
                    <a href="./3d-printing.html" class="services-menu__link link">3D Друк</a>
                </li>
            </li>
            <li class="menu__item">
                <a href="./order-page.html" class="menu__link link">Замовити</a>
            </li>
            <li class="menu__item">
                <a href="./contact.html" class="menu__link link">Контакти</a>
            </li>
        </ul>
    </div>
</div>