.scan-hero {
  @media screen and (max-width: 767px) {
    padding-bottom: 24px;
  }
  @media screen and (max-width: 1439px) {
    padding-bottom: 37px;
  }
}

.scan-hero__container {
  font-family: 'Cera-Pro';
  font-weight: 300;
  font-size: 16px;
  line-height: 1.25;

  @media screen and (max-width: 319px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media screen and (min-width: 1440px) {
    font-size: 18px;
    line-height: 1.27;
  }
}

.scan-hero__title {
  color: $accent-color;
  margin-bottom: 16px;

  @media screen and (min-width: 768px) {
    font-size: 36px;
  }

  @media screen and (min-width: 1440px) {
    font-size: 48px;
  }
}

.scan-hero__descrip-box {
  @media screen and (min-width: 768px) and (max-width: 1439px) {
    position: relative;
  }
  @media screen and (min-width: 1440px) {
    display: flex;
    &--left {
      margin-right: 32px;
    }
    &--right {
      position: relative;
    }
  }
}

.scan-hero__descrip {
  margin-bottom: 16px;

  @media screen and (min-width: 768px) {
    max-width: 515px;
    .scan-hero__descip-span {
      display: block;
    }
  }
}

.scan-hero__descrip:last-child {
  margin-bottom: 24px;

}

.scan-hero__bgd-pic {
  background-image: url(../images/mobile/3d-scanning/image.jpg);
  background-color: transparent;
  background-size: cover;

  width: 280px;
  height: 199px;

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 280px),
    (-webkit-min-device-pixel-ratio: 2) and (min-width: 280px),
    (min-resolution: 192dpi) and (min-width: 280px),
    (min-resolution: 2dppx) and (min-width: 280px) {
    background-image: url(../images/mobile/3d-scanning/image@2x.jpg);
  }

  @media screen and (min-width: 768px) and (max-width: 1439px) {
    background-image: url(../images/tablet/3d-scanning/image.jpg);

    width: 241px;
    height: 172px;

    position: absolute;

    top: 117px;
    left: 467px;
    z-index: -1;
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
    (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px),
    (min-resolution: 192dpi) and (min-width: 768px),
    (min-resolution: 2dppx) and (min-width: 768px) {
    background-image: url(../images/tablet/3d-scanning/image@2x.jpg);
  }

  @media screen and (min-width: 1440px) {
    background-image: url(../images/desktope/3d-scanning/image.jpg);

    width: 515px;
    height: 368px;

    position: absolute;
    right: 0;
    bottom: -97px;
    z-index: -1;
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 1440px),
    (-webkit-min-device-pixel-ratio: 2) and (min-width: 1440px),
    (min-resolution: 192dpi) and (min-width: 1440px),
    (min-resolution: 2dppx) and (min-width: 1440px) {
    background-image: url(../images/desktope/3d-scanning/image@2x.jpg);
  }
}
