.scan-process {
    padding-top: 32px;
    padding-bottom: 76px;

    // @media screen and (max-width: 320px) {
    //    padding-top: 32px;
    //    padding-bottom: 76px;
    // }
    @media screen and (max-width: 767px) {
        position: relative;
    }
    @media screen and (min-width: 768px) and (max-width: 1439px) {
        position: relative;

        padding-top: 35px;
    }

    @media screen and (min-width: 1440px) {
        padding-top: 24px;
        padding-bottom: 100px;
        position: relative;
    }
}

.scan-process__container {
    padding-left: 20px;
    padding-right: 20px;
    @media screen and (min-width: 1440px) {
        font-size: 18px;
        line-height: 1.27;
    }
}

.scan-process__title {
    font-family: "Cera-Pro";
    font-weight: bold;
    font-size: 18px;
    line-height: 1.27;

    color: $accent-color;

    margin-bottom: 16px;

    @media screen and (min-width: 768px) {
        font-size: 24px;
        line-height: 1.25;
        margin-bottom: 24px;
    }

    @media screen and (min-width: 1440px) {
        font-size: 48px;
        line-height: 1.25;
        margin-bottom: 52px;
    }
}

.scan-process__list {
    color: $accent-color;
    display: flex;
    margin-top: -15px;
    margin-left: -15px;

    margin-bottom: 52px;
    @media screen and (max-width: 319px) {
        flex-direction: column;
    }

    @media screen and (min-width:320px) and (max-width: 767px) {
        flex-wrap: wrap;
        margin-top: -12px;
        margin-left: -12px;
    }
    @media screen and (min-width: 1440px) {
        margin-top: -21px;
        margin-left: -21px;
        margin-bottom: 100px;
    }
}

.scan-process__item {
    display: flex;
    justify-content: center;
    align-items: center;


    background: $primary-white-color;
    opacity: 0.8;
    box-shadow: inset 1px 1px 16px rgba(203, 203, 203, 0.8), inset -1px -1px 16px $primary-white-color;

    border-radius: 50px 0px;

    flex-basis: calc(100% / 2 - 15px);
    height: 182px;

    margin-top: 15px;
    margin-left: 15px;

    padding: 22px 15px 15px 15px;

    @media screen and (min-width: 768px) {
        margin-top: 12px;
        margin-left: 12px;
        flex-basis: calc(100% / 4 - 12px);
        padding-left: 23px;
        padding-right: 23px;

        height: 210px;
    }

    @media screen and (min-width: 1440px) {
        margin-top: 21px;
        margin-left: 21px;

        height: 298px;
        padding: 49px 15px 22px 15px;
    }
}

.scan-process__descrip {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 14px;
    font-weight: 400;
    line-height: 1.28;
    text-align: center;

    @media screen and (min-width: 1440px) {
        font-size: 18px;
        line-height: 1.27;
        font-weight: 300;
    }

    &-before1::before {
        margin-bottom: 18px;
        content: "";
        width: 94px;
        height: 82px;

        background-size: 94px 82px;

        background-color: transparent;
        background-image: url(../images/mobile/3d-scanning/image1.png);

        @media screen and (min-device-pixel-ratio: 2) and (min-width: 280px),
            (-webkit-min-device-pixel-ratio: 2) and (min-width: 280px),
            (min-resolution: 192dpi) and (min-width: 280px),
            (min-resolution: 2dppx) and (min-width: 280px) {
            background-image: url(../images/mobile/3d-scanning/image1@2x.png);
        }

        @media screen and (min-width: 768px) {
            width: 108px;
            height: 94px;
            background-size: 108px 94px;
            background-image: url(../images/tablet/3d-scanning/image1.png);
        }
        @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
            (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px),
            (min-resolution: 192dpi) and (min-width: 768px),
            (min-resolution: 2dppx) and (min-width: 768px) {
            background-image: url(../images/tablet/3d-scanning/image1@2x.png);
        }

        @media screen and (min-width: 1440px) {
            margin-bottom: 27px;
            width: 177px;
            height: 154px;
            background-size: 177px 154px;
            background-image: url(../images/desktope/3d-scanning/image1.png);
        }
        @media screen and (min-device-pixel-ratio: 2) and (min-width: 1440px),
            (-webkit-min-device-pixel-ratio: 2) and (min-width: 1440px),
            (min-resolution: 192dpi) and (min-width: 1440px),
            (min-resolution: 2dppx) and (min-width: 1440px) {
            background-image: url(../images/desktope/3d-scanning/image1@2x.png);
        }
    }

    &-before2::before {
        margin-bottom: 18px;
        content: "";
        width: 94px;
        height: 82px;
        background-size: 94px 82px;
        background-color: transparent;
        background-image: url(../images/mobile/3d-scanning/image2.png);

        @media screen and (min-device-pixel-ratio: 2) and (min-width: 280px),
            (-webkit-min-device-pixel-ratio: 2) and (min-width: 280px),
            (min-resolution: 192dpi) and (min-width: 280px),
            (min-resolution: 2dppx) and (min-width: 280px) {
            background-image: url(../images/mobile/3d-scanning/image2@2x.png);
        }

        @media screen and (min-width: 768px) {
            width: 108px;
            height: 94px;
            background-size: 108px 94px;
            background-image: url(../images/tablet/3d-scanning/image1.png);
        }
        @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
            (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px),
            (min-resolution: 192dpi) and (min-width: 768px),
            (min-resolution: 2dppx) and (min-width: 768px) {
            background-image: url(../images/tablet/3d-scanning/image2@2x.png);
        }

        @media screen and (min-width: 1440px) {
            margin-bottom: 27px;
            width: 177px;
            height: 154px;
            background-size: 177px 154px;
            background-image: url(../images/desktope/3d-scanning/image2.png);
        }
        @media screen and (min-device-pixel-ratio: 2) and (min-width: 1440px),
            (-webkit-min-device-pixel-ratio: 2) and (min-width: 1440px),
            (min-resolution: 192dpi) and (min-width: 1440px),
            (min-resolution: 2dppx) and (min-width: 1440px) {
            background-image: url(../images/desktope/3d-scanning/image2@2x.png);
        }
    }

    &-before3::before {
        margin-bottom: 18px;
        content: "";
        width: 94px;
        height: 82px;
        background-size: 94px 82px;
        background-color: transparent;
        background-image: url(../images/mobile/3d-scanning/image3.png);

        @media screen and (min-device-pixel-ratio: 2) and (min-width: 280px),
            (-webkit-min-device-pixel-ratio: 2) and (min-width: 280px),
            (min-resolution: 192dpi) and (min-width: 280px),
            (min-resolution: 2dppx) and (min-width: 280px) {
            background-image: url(../images/mobile/3d-scanning/image2@2x.png);
        }

        @media screen and (min-width: 768px) {
            width: 108px;
            height: 94px;
            background-size: 108px 94px;
            background-image: url(../images/tablet/3d-scanning/image3.png);
        }
        @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
            (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px),
            (min-resolution: 192dpi) and (min-width: 768px),
            (min-resolution: 2dppx) and (min-width: 768px) {
            background-image: url(../images/tablet/3d-scanning/image3@2x.png);
        }

        @media screen and (min-width: 1440px) {
            margin-bottom: 27px;
            width: 177px;
            height: 154px;
            background-size: 177px 154px;
            background-image: url(../images/desktope/3d-scanning/image3.png);
        }
        @media screen and (min-device-pixel-ratio: 2) and (min-width: 1440px),
            (-webkit-min-device-pixel-ratio: 2) and (min-width: 1440px),
            (min-resolution: 192dpi) and (min-width: 1440px),
            (min-resolution: 2dppx) and (min-width: 1440px) {
            background-image: url(../images/desktope/3d-scanning/image3@2x.png);
        }
    }

    &-before4::before {
        margin-bottom: 18px;
        content: "";
        width: 92px;
        height: 82px;
        background-size: 92px 82px;
        background-color: transparent;
        background-image: url(../images/mobile/3d-scanning/image4.png);

        @media screen and (min-device-pixel-ratio: 2) and (min-width: 280px),
            (-webkit-min-device-pixel-ratio: 2) and (min-width: 280px),
            (min-resolution: 192dpi) and (min-width: 280px),
            (min-resolution: 2dppx) and (min-width: 280px) {
            background-image: url(../images/mobile/3d-scanning/image4@2x.png);
        }

        @media screen and (min-width: 768px) {
            width: 108px;
            height: 94px;
            background-size: 108px 94px;
            background-image: url(../images/tablet/3d-scanning/image4.png);
        }
        @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
            (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px),
            (min-resolution: 192dpi) and (min-width: 768px),
            (min-resolution: 2dppx) and (min-width: 768px) {
            background-image: url(../images/tablet/3d-scanning/image4@2x.png);
        }

        @media screen and (min-width: 1440px) {
            margin-bottom: 27px;
            width: 177px;
            height: 154px;
            background-size: 177px 154px;
            background-image: url(../images/desktope/3d-scanning/image4.png);
        }
        @media screen and (min-device-pixel-ratio: 2) and (min-width: 1440px),
            (-webkit-min-device-pixel-ratio: 2) and (min-width: 1440px),
            (min-resolution: 192dpi) and (min-width: 1440px),
            (min-resolution: 2dppx) and (min-width: 1440px) {
            background-image: url(../images/desktope/3d-scanning/image4@2x.png);
        }
    }
}

//  $beforeList: "image1" "image2" "image3" "image4";

//   @each $beforeName in $beforeList {
//   .scan-process__descrip-#{$beforeName}::before {
//   background-image: url(../images/mobile/3d-scanning/#{$beforeName}.png);
//   }
// }

.scan-process__descrip-span {
    display: block;
    @media screen and (min-width: 1440px) {
        display: contents;
    }
}
.scan-process__br-desktope {
    @media screen and (max-width: 1439px) {
        display: none;
    }
}

.scan-process__order-btn {

text-align: center;
}

.scan__bg-shape--1 {
    position: absolute;
    background: $primary-white-color;
    z-index: -1;

    width: 73.65px;
    height: 73.65px;
    left: 0;
    top: 8px;

    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 35px 0px 0px 35px;
    transform: rotate(180deg);

    @media screen and (min-width: 768px) {
        left: 233px;
        top: 8px;
    }

    @media screen and (min-width: 1440px) {
        width: 144px;
        height: 144px;
        left: 293px;
        top: 7px;

        border-radius: 72px 0px 0px 72px;
    }
}

.scan__bg-shape--2 {
    position: absolute;
    background: $primary-white-color;
    z-index: -1;

    width: 73.65px;
    height: 73.65px;
    right: 0;
    top: 8px;

    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 35px 0px 0px 35px;

    @media screen and (min-width: 768px) {
        right: 233px;
        top: 8px;
    }

    @media screen and (min-width: 1440px) {
        width: 144px;
        height: 144px;
        right: 293px;
        top: 7px;

        border-radius: 72px 0px 0px 72px;
    }
}

.scan__bg-shape--3 {
    position: absolute;
    background: $primary-white-color;
    z-index: -1;

    width: 73.65px;
    height: 73.65px;
    left: -29px;
    top: 303px;

    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 35px 0px;

    @media screen and (min-width: 768px) {
        left: 8px;
        top: 229px;
        border-radius: 0px 0px 0px 35px;

        transform: rotate(-90deg);
    }

    @media screen and (min-width: 1440px) {
        width: 144px;
        height: 144px;
        left: 13px;
        top: 280px;

        border-radius: 0px 0px 72px 0px;
        transform: revert;
    }
}

.scan__bg-shape--4 {
    position: absolute;
    background: $primary-white-color;
    z-index: -1;

    width: 73.65px;
    height: 73.65px;
    right: -15px;
    top: 588px;

    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 72px;

    @media screen and (min-width: 768px) {
        right: 13px;
        top: 90px;
        border-radius: 0px 35px 0px 0px;

        transform: rotate(180deg);
    }

    @media screen and (min-width: 1440px) {
        width: 144px;
        height: 144px;
        right: 13px;
        top: 159px;

        border-radius: 0px 0px 72px 0px;
        transform: rotate(90deg);
    }
}

.scan__bg-shape--5 {
    position: absolute;
    background: $primary-white-color;
    z-index: -1;

    width: 73.65px;
    height: 73.65px;
    left: -17px;
    top: 957px;

    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 25px 0px;

    @media screen and (min-width: 768px) and (max-width: 1439px){
        display: none;
    }

    @media screen and (min-width: 1440px) {
        width: 144px;
        height: 144px;
        left: unset;
        right: -23px;
        top: 667px;
        border-radius: 72px 0px;
    }
}

.scan__bg-shape--6 {
    position: absolute;
    background: $primary-white-color;
    z-index: -1;

    width: 73.65px;
    height: 73.65px;
    right: -21px;
    top: 1033px;

    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 25px 0px;
    transform: rotate(90deg);

    @media screen and (min-width: 768px) and (max-width: 1439px) {
        display: none;
    }

    @media screen and (min-width: 1440px) {
        width: 144px;
        height: 144px;
        left: -64px;
        top: 1077px;
        border-radius: 72px;
    }
}
.scan__bg-shape--7 {
    position: absolute;
    background: $primary-white-color;
    z-index: -1;

    width: 73.65px;
    height: 73.65px;
    left: -18px;
    top: 1070px;

    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 0px 35px;

    @media screen and (min-width: 768px) {
        display: none;
    }

    @media screen and (min-width: 1440px) {
        width: 144px;
        height: 144px;
        right: 15px;
        top: 159px;

        border-radius: 0px 0px 72px 0px;
        transform: rotate(90deg);
    }
}

.scan__bg-shape--8 {
    position: absolute;
    background: $primary-white-color;
    z-index: -1;

    width: 73.65px;
    height: 73.65px;
    right: -15px;
    top: 1360px;

    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 25px 0px;

    @media screen and (min-width: 768px) {
        display: none;
    }

    @media screen and (min-width: 1440px) {
        width: 144px;
        height: 144px;
        right: 13px;
        top: 159px;

        border-radius: 0px 0px 72px 0px;
        transform: rotate(90deg);
    }
}



