.methods {
  font-family: Cera-Pro, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.28;
  text-transform: uppercase;
  color: $accent-color;

  &__item {
    font-family: Cera-Pro, sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.25;
    margin-top: 16px;
  }

  &__item::before {
    content: '';
    display: inline-block;
    width: 7px;
    height: 7px;
    background: $accent-color;
    border-radius: 3px 0px;
    margin-right: 10px;
    align-items: center;
    transform: translateY(-2px);
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .bgi-mobile {
    display: block;
    height: 462px;
  }

  .background-modeling {
    background-image: url(../images/mobile/3d-modeling/image.png);
    background-repeat: no-repeat;
    background-position: bottom center;
  }
}

@media screen and (min-width: 768px) {
  .methods {
    font-size: 24px;
    line-height: 1.25;
  }
  .background-modeling {
    background-image: url(../images/tablet/3d-modeling/image.png);
    background-repeat: no-repeat;
    // background-size: contain;
    background-position: right 52px center;
  }

  @media screen and (min-width: 1440px) {
    .methods {
      font-size: 36px;

      &__item {
        font-size: 18px;
        line-height: 1.28;
      }
    }

    .background-modeling {
      background-image: url(../images/desktope/3d-modeling/image.png);
    }

    .bgi {
      display: block;
      padding-top: 61px;
      background-size: contain;
      background-position: right 189px center;
    }
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 1440px),
    screen and (min-resolution: 192dpi) and (min-width: 1440px),
    screen and (min-resolution: 2dppx) and (min-width: 1440px) {
    .background-modeling {
      background-image: url(../images/desktope/3d-modeling/image@2x.png);
    }
  }
}
