// .section-models {
//   margin-bottom: 52px;
// }

.models-image {
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  color: $accent-color;

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10.77px;
    margin-bottom: 52px;
  }

  &__item {
    margin-top: 16px;
    margin-left: 10.77px;
    flex-basis: calc((100% - 21.54px) / 2);
  }
}

.modeling-btn {
  text-align: center;
  // margin-top: 52px;
  // margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .models-image {
    font-family: Cera-Pro, sans-serif;
    font-size: 24px;

    &__list {
      flex-wrap: unset;
      margin-left: -12.23px;
    }
    &__item {
      margin-top: 24px;
      margin-left: 12.23px;
    }
  }
}

@media screen and (min-width: 1440px) {
  .models-image {
    max-width: 842px;
    font-size: 36px;

    &__item {
      margin-top: 52px;
    }

    &__list {
      margin-bottom: 100px;
    }
  }
}
