<section class="section section-modeling">
  <div class="container modeling-hero">
    <h1 class="modeling-hero__title"><span lang="en">3D</span> МОДЕЛЮВАННЯ</h1>
    <div class="description-box">
      <p class="modeling-hero__description description-left">
        Сфера <span lang="en">3D</span> графіки може надати широкий спектр послуг. Але якщо
        спроектована модель буде створюватися шляхом <span lang="en">3D</span> друку, обробки
        заготовки на ЧПУ станках або іншими виробничими методами, то до моделі преставляеться ряд
        інженерних вимог які повинен враховувати дизайнер при розробці моделі.
      </p>

      <p class="modeling-hero__description description-right">
        Наші фахівці допоможуть вам визначитися з технічною стороною вироба і підготують модель для
        її створення. Ми маємо широкий спектр інструментів для вдоволення будь-якої вашої задачі.
      </p>
    </div>
  </div>
</section>
