<section class="section section-creations">
  <div class="container">
    <h2 class="methods">Способи створення моделі:</h2>

    <ul class="list">
      <li class="methods__list"><span lang="en">3D</span> сканування</li>
      <li class="methods__list">На основі фотографій з доданими розмірами</li>
      <li class="methods__list">За ескізами з розмірами</li>
      <li class="methods__list">За вашим кресленням</li>
      <li class="methods__list">По вже існуючому прототипу шляхом зняття розмірів</li>
    </ul>
  </div>
</section>
