<section class="section section-creations">
  <div class="container bgi-mobile bgi">
    <h2 class="methods">Способи створення моделі:</h2>

    <ul class="methods__list list">
      <li class="methods__item"><span lang="en">3D</span> сканування</li>
      <li class="methods__item">На основі фотографій з доданими розмірами</li>
      <li class="methods__item">За ескізами з розмірами</li>
      <li class="methods__item">За вашим кресленням</li>
      <li class="methods__item">
        По вже існуючому прототипу шляхом зняття розмірів
      </li>
    </ul>
    <div class="background-modeling"></div>
  </div>
</section>
