<section class="section section-models">
  <div class="container">
    <h3 class="models-image">Ми створюємо фотореалiстічні зображення моделей</h3>
    <ul class="models-image__list list">
      <li class="models-image__item">
        <img src="./images/mobile/3d-modeling/image1.png" alt="кольцо" />
      </li>
      <li class="models-image__item">
        <img src="./images/mobile/3d-modeling/image2.png" alt="измерительный прибор" />
      </li>
      <li class="models-image__item">
        <img src="./images/mobile/3d-modeling/image3.png" alt="плата" />
      </li>
      <li class="models-image__item">
        <img src="./images/mobile/3d-modeling/image4.png" alt="деталь" />
      </li>
    </ul>
  </div>

  <div class="modeling-btn">
    <include src="./partials/components/order-btn.html"></include>
  </div>
</section>
