<section class="section section-models">
  <div class="container">
    <h3>МИ СТВОРЮЄМО ФОТОРЕАЛІСТИЧНІ ЗОБРАЖЕННЯ МОДЕЛЕЙ</h3>
    <ul class="list">
      <li class="models-image__list">
        <img src="../images/mobile/3d-modeling/image1.png" alt="кольцо" />
      </li>
      <li class="models-image__list">
        <img src="../images/mobile/3d-modeling/image2.png" alt="измерительный прибор" />
      </li>
      <li class="models-image__list">
        <img src="../images/mobile/3d-modeling/image3.png" alt="плата" />
      </li>
      <li class="models-image__list">
        <img src="../images/mobile/3d-modeling/image4.png" alt="деталь" />
      </li>
    </ul>
  </div>
</section>
