<section class="section section-models">
  <div class="container">
    <h3 class="models-image">
      Ми створюємо фотореалiстічні зображення моделей
    </h3>
    <ul class="models-image__list list">
      <li class="models-image__item">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              /images/desktope/3d-modeling/image1.png    1x,
              /images/desktope/3d-modeling/image1@2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /images/tablet/3d-modeling/image1.png    1x,
              /images/tablet/3d-modeling/image1@2x.png 2x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="
              /images/mobile/3d-modeling/image1.png    1x,
              /images/mobile/3d-modeling/image1@2x.png 2x
            "
          />
          <img src="/images/mobile/3d-modeling/image1.png" alt="кiльцe" />
        </picture>
      </li>

      <li class="models-image__item">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              /images/desktope/3d-modeling/image2.png    1x,
              /images/desktope/3d-modeling/image2@2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /images/tablet/3d-modeling/image2.png    1x,
              /images/tablet/3d-modeling/image2@2x.png 2x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="
              /images/mobile/3d-modeling/image2.png    1x,
              /images/mobile/3d-modeling/image2@2x.png 2x
            "
          />
          <img
            src="/images/mobile/3d-modeling/image2.png"
            alt="вимірювальний прилад"
          />
        </picture>
      </li>

      <li class="models-image__item">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              /images/desktope/3d-modeling/image3.png    1x,
              /images/desktope/3d-modeling/image3@2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /images/tablet/3d-modeling/image3.png    1x,
              /images/tablet/3d-modeling/image3@2x.png 2x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="
              /images/mobile/3d-modeling/image3.png    1x,
              /images/mobile/3d-modeling/image3@2x.png 2x
            "
          />
          <img src="/images/mobile/3d-modeling/image3.png" alt="плата" />
        </picture>
      </li>

      <li class="models-image__item">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              /images/desktope/3d-modeling/image4.png    1x,
              /images/desktope/3d-modeling/image4@2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /images/tablet/3d-modeling/image4.png    1x,
              /images/tablet/3d-modeling/image4@2x.png 2x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="
              /images/mobile/3d-modeling/image4.png    1x,
              /images/mobile/3d-modeling/image4@2x.png 2x
            "
          />
          <img src="/images/mobile/3d-modeling/image4.png" alt="деталь" />
        </picture>
      </li>
    </ul>
  </div>

  <div class="modeling-btn">
    <include src="./partials/components/order-btn.html"></include>
  </div>
</section>
