<footer class="footer">
  <div class="container">
    <div class="footer__logo-wrapper">
      <a class="footer__logo" href="../index.html">
        <img src="../images/logo/footer-logo.png" alt="Логотип" />
      </a>
    </div>
    <div class="footer-container">
      <nav class="footer__nav">
        <ul class="footer__nav-list list">
          <li class="footer__nav-item">
            <a class="footer__nav-link link" href="#">Головна</a>
          </li>
          <li class="footer__nav-item">
            <a class="footer__nav-link link" href="#">3D Моделювання</a>
          </li>
          <li class="footer__nav-item">
            <a class="footer__nav-link link" href="#">3D Сканування</a>
          </li>
          <li class="footer__nav-item">
            <a class="footer__nav-link link" href="#">3D Друк</a>
          </li>
          <li class="footer__nav-item">
            <a class="footer__nav-link link" href="#">Замовити</a>
          </li>
          <li class="footer__nav-item">
            <a class="footer__nav-link link" href="#">Контакти</a>
          </li>
        </ul>
      </nav>
      <div class="footer__social">
        <ul class="footer__social-list list">
          <li class="footer__social-item">
            <a class="footer__social-link link" href="#">Instagram</a>
          </li>
          <li class="footer__social-item">
            <a class="footer__social-link link" href="#">YouTube</a>
          </li>
          <li class="footer__social-item">
            <a class="footer__social-link link" href="#">Facebook</a>
          </li>
        </ul>
      </div>
      <div class="footer__contact">
        <address>
          <p class="footer__mail-heading">Email</p>
          <a class="footer__contact-link link" href="mailto:3dfreedom.info@gmail.com"
            >3dfreedom.info@gmail.com</a
          >
          <p class="footer__tel-heading">Телефони</p>
          <ul class="footer__contact-tel-list list">
            <li class="footer__contact-tel-item">
              <a class="footer__contact-tel-link link" href="tel:+380936432288"
                >+38 (093) 643 22 88</a
              >
            </li>
            <li class="footer__contact-tel-item">
              <a class="footer__contact-tel-link link" href="tel:+380503454423"
                >+38 (050) 345 44 23</a
              >
            </li>
          </ul>
        </address>
      </div>
    </div>
  </div>
</footer>
