<header class="header link">
  <div class="page-header__conteiner link">
    <span class="span_logo">
      <a href="./index.html" class="logo link">
       <picture>

                    <sourse media="(min-width: 1440px)" type="image/webp" srcset="/images/logo/desktope-logo.webp. 1x, /images/desktope-logo@2x.webp 2x" />
                    <sourse media="(min-width: 1440px)" srcset="/images/desktope-logo.png 1x, /images/desktope-logo@2x.png 2x" />
                    <sourse media="(min-width: 768px)" type="image/webp" srcset="/images/logo/tablet-logo.webp 1x, /images/logo/tablet-logo@2x.webp 2x">
                    <sourse media="(min-width: 768px)" srcset="/images/logo/tablet-logo.png 1x, /images/logo/tablet-logo@2x.png 2x" />
                    <sourse media="(min-width: 320px)" type="image/webp" srcset="/images/logo/mobile-logo.webp 1x, /images/logo/mobile-logo/@2x.webp 2x">
                    <sourse media="(min-width: 320px)" srcset="/images/logo/mobile-logo.jpg 1x, /images/logo/mobile-logo@2x.png 2x" />
                    <img class="take-order__main-img" src="/images/logo/mobile-logo@2x.png" alt="Тривимірний куб">

                </picture>
      </a>
    </span>
    <button class="hamburger " type="button">
   <span class="hamburger__item"></span>
   <span class="hamburger__item"></span>
   <span class="hamburger__item"></span>
    </button>
    <button class="header__btn-tel">
      <svg class="header__btn-tel-icon">
        <use href="/images/sprite.svg#icon-phone"></use>
      </svg>
    </button>
    <ul class="header__language list">
      <select id="size" name="size" lass="header__language list">
        <option value="xs" class="header__language-item" lang="ua">UKR</option>
        <option value="s" class="header__language-item" lang="ua">ENG</option>
        <option value="m" selected class="header__language-item" lang="ua">RUS</option>
      </select>
    </ul>
    <ul class="header__contacts">
      <li class="header__item list">
        <a class="header__tel" href="tel:+38(093)6432288">
          <svg class="header__icon" width="14" height="14">
            <use href="/images/sprite.svg#icon-header-icon"></use>
          </svg>
          +38 (093) 643 22 88
        </a>
      </li>
      <li class="header__item list">
        <a href="tel:+38(050)3454423">
          <svg class="header__icon" width="14" height="14">
            <use href="/images/sprite.svg#icon-header-icon"></use>
          </svg>
          +38 (050) 345 44 23
        </a>
      </li>
    </ul>
  </div>
</header>
