<header class="header link">
  <div class="page-header__conteiner link">
    <a href="./index.html" class="logo link">
      <img src="./images/logo/footer-logo.png" lang="ru" alt="логотип" width="" height="" />
    </a>
    <ul class="header__language list">
      <li class="header__language-item" lang="ua">UKR</li>
      <li class="header__language-item" lang="en">ENG</li>
      <li class="header__language-item" lang="ru">RUS</li>
    </ul>
    <ul class="header__contacts">
      <li class="header__item list">
        <a href="tel:+38(093)6432288">
          <svg class="header__icon" width="14" height="14">
            <use href="./images/logo/header-icon.svg#icon-header-icon"></use>
          </svg>
          +38 (093) 643 22 88
        </a>
      </li>
      <li class="header__item list">
        <a href="tel:+38(050)3454423">
          <svg class="header__icon" width="14" height="14">
            <use href="./images/logo/header-icon.svg#icon-header-icon"></use>
          </svg>
          +38 (050) 345 44 23
        </a>
      </li>
    </ul>
  </div>
</header>
