<section class="contact__section">
  <div class="container">
    <h1 class="contact__title">КОНТАКТИ</h1>
    <div class="contact__main">
      <div class="contact__top-part">
        <div class="video">
          <iframe
            class="contact__video"
            src="https://www.youtube.com/embed/FqQAjkZOBeY"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          >
          </iframe>
        </div>
        <div class="contact___paragraph-section">
          <p class="contact__paragraph">
            Людина уперше побачивши процес 3D друку може легко захопитися
            спостереженням за цим процесом не на десяток хвилин.
          </p>
          <p class="contact__paragraph">
            Наша команда створює timelapse відео що б ви могли краще
            ознайомитися з технологією 3D друку і просто помилуватися красою
            цього процесу
          </p>
          <p class="contact__paragraph smile">Приємного перегляду!</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="contact__section padding-bottom">
  <div class="container contact__form-and-desk">
    <div class="contact__form padding-bottom">
      <include src="./partials/components/order-form.html"></include>
    </div>
    <div class="contact__desk">
      <include src="./partials/components/contact-info.html"></include>
    </div>
  </div>
</section>
