.model-examples__title {
  margin-bottom: 16px;

  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  text-transform: uppercase;
  color: $accent-color;
}

.model-examples__list {
  display: flex;
  flex-wrap: wrap;

  margin-left: -15px;
  margin-bottom: -15px;
}
.model-examples__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  flex-basis: calc(100% / 2 - 15px);
  min-width: 132px;
  height: 159px;
  margin-left: 15px;
  margin-bottom: 15px;

  background: $primary-white-color;
  opacity: 0.8;
  box-shadow: inset 1px 1px 16px #cbcbcb, inset -1px -1px 16px $primary-white-color;
  border-radius: 50px 0px;
}
.model-examples__subtitle {
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;

  color: $accent-color;
}
@media screen and (min-width: 768px) {
  .model-examples__list {
    flex-wrap: nowrap;
    justify-content: space-between;

    margin-left: 0;
    margin-bottom: 0;
  }
  .model-examples__item {
    margin-left: 0;
    margin-bottom: 0;
    flex-basis: calc(100% / 4 - 45px);
    min-width: 152px;
    height: 182px;
  }
  .model-examples__title {
    margin-bottom: 24px;
    font-size: 36px;
  }
}
@media screen and (min-width: 1440px) {
  .model-examples__list {
    justify-content: flex-start;
  }
  .model-examples__item {
    width: 250px;
    height: 298px;
    &:not(:first-child) {
      margin-left: 21px;
    }
  }
  .model-examples__title {
    font-size: 48px;
  }
  .model-examples__subtitle {
    width: 200px;
    font-size: 18px;
    line-height: 1.28;
  }
}
