.main__section-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  color: $accent-color;
  margin-bottom: 16px;
  text-transform: uppercase;

  @media screen and (min-width: 768px) {
    font-size: 36px;
    margin-bottom: 32px;
  }

  @media screen and (min-width: 1440px) {
    font-size: 48px;
    margin-bottom: 52px;
  }
}

.gallery__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-right: calc(-1 * 18px);
  }

  @media screen and (min-width: 768px) {
    margin-right: calc(-1 * 32px);
  }
}

.gallery__item {
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  @media screen and (min-width: 768px) {
    margin-right: 18px;
    flex-basis: calc(100% / 2 - 18px);
    &:not(:nth-child(n + 3)) {
      margin-bottom: 32px;
    }
  }

  @media screen and (min-width: 1440px) {
    margin-right: 32px;
    flex-basis: calc(100% / 2 - 32px);
    &:not(:nth-child(n + 3)) {
      margin-bottom: 56px;
    }
  }
}

.gallery__img {
  display: block;
  margin-bottom: 8px;

  @media screen and (min-width: 768px) {
    margin-bottom: 16px;
  }
}

.gallery__sub-title {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.25;
  color: $accent-color;

  @media screen and (min-width: 1440px) {
    font-size: 18px;
    line-height: 1.28;
  }
}
