.main__overlay {
  margin-left: auto;
  margin-right: auto;

  background-image: url(../images/mobile/main/page_bg.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;

  @media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
    screen and (min-resolution: 192dpi) and (max-width: 767px),
    screen and (min-resolution: 2dppx) and (max-width: 767px) {
    background-image: url(../images/mobile/main/page_bg@2x.jpg);
  }

  @media screen and (min-width: 768px) {
    background-image: url(../images/tablet/main/page_bg.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
    screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2dppx) and (min-width: 768px) {
    background-image: url(../images/tablet/main/page_bg@2x.jpg);
  }

  @media screen and (min-width: 1440px) {
    background-image: url(../images/desktope/main/page_bg.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 1440px),
    screen and (min-resolution: 192dpi) and (min-width: 1440px),
    screen and (min-resolution: 2dppx) and (min-width: 1440px) {
    background-image: url(../images/desktope/main/page_bg@2x.jpg);
  }
}

.main__page-title {
  width: 280px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 32px;
  font-family: 'CaviarDreams';
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  color: $text-descr;

  @media screen and (min-width: 768px) {
    width: 420px;
    font-size: 24px;
    margin-bottom: 64px;
  }

  @media screen and (min-width: 1440px) {
    width: 624px;
    font-size: 48px;
    margin-bottom: 68px;
  }
}

.wrapper__carousel {
  display: flex;
  width: 100%;
  justify-content: center;
  position: relative;
}

.carousel {
  display: flex;
  margin: calc(-1 * 7px);
  margin-bottom: 32px;

  @media screen and (min-width: 768px) {
    width: 380px;
    margin: calc(-1 * 10px);
    margin-bottom: 64px;
  }

  @media screen and (min-width: 1440px) {
    width: 688px;
    margin: calc(-1 * 18px);
    margin-bottom: 100px;
  }
}

.carousel__item {
  margin: 7px;
  flex-basis: calc(100% / 3 - 7px * 2);

  @media screen and (min-width: 768px) {
    margin: 10px;
    flex-basis: calc(100% / 3 - 10px * 2);
  }

  @media screen and (min-width: 1440px) {
    margin: 18px;
    flex-basis: calc(100% / 3 - 18px * 2);
  }
}

.carousel__img--round-top-right {
  display: block;
  border-radius: 0px 35px 0px 0px;
  overflow: hidden;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.3);
}

.carousel__img--round {
  display: block;
  border-radius: 100px;
  overflow: hidden;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.3);
}

.carousel__img--round-top-right-down-left {
  display: block;
  border-radius: 0px 25px;
  overflow: hidden;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.3);
}

.hero__ancor-gide--arrow {
  display: none;
  fill: #008cef;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 16px;
    width: 16px;
    display: block;
    position: absolute;
    bottom: 62px;
    left: 75px;
  }

  @media screen and (min-width: 1440px) {
    display: inherit;
    height: 32px;
    width: 32px;
    bottom: 33px;
    left: 43px;
  }
}

.hero__section-description {
  font-family: 'CaviarDreams';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: $text-descr;

  @media screen and (min-width: 768px) {
    font-size: 18px;
    line-height: 1.17;
  }

  @media screen and (min-width: 1440px) {
    font-size: 36px;
  }
}
