.bg-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  pointer-events: none;
}

.bg-wrapper__bg-shape--1 {
  @extend %bg-shapes;

  width: 74px;
  height: 74px;
  left: 0;
  top: 8px;

  border-radius: 0px 35px 35px 0px;

  @media screen and (min-width: 768px) {
    left: 233px;
    top: 8px;
  }

  @media screen and (min-width: 1440px) {
    width: 144px;
    height: 144px;
    left: 293px;
    top: 7px;

    border-radius: 0px 72px 72px 0px;
  }
}

.bg-wrapper__bg-shape--2 {
  @extend %bg-shapes;

  width: 74px;
  height: 74px;
  right: 0;
  top: 8px;

  border-radius: 35px 0px 0px 35px;

  @media screen and (min-width: 768px) {
    right: 233px;
    top: 8px;
  }

  @media screen and (min-width: 1440px) {
    width: 144px;
    height: 144px;
    right: 293px;
    top: 7px;

    border-radius: 72px 0px 0px 72px;
  }
}

.bg-wrapper__bg-shape--3 {
  @extend %bg-shapes;

  width: 74px;
  height: 74px;
  left: -29px;
  top: 303px;

  border-radius: 0px 0px 35px 0px;

  @media screen and (min-width: 768px) {
    left: 8px;
    top: 229px;
    border-radius: 0px 0px 35px 0px;
  }

  @media screen and (min-width: 1440px) {
    width: 144px;
    height: 144px;
    left: 13px;
    top: 280px;

    border-radius: 0px 0px 72px 0px;
  }
}

.bg-wrapper__bg-shape--4 {
  @extend %bg-shapes;

  width: 74px;
  height: 74px;
  right: -15px;
  top: 588px;

  border-radius: 72px;

  @media screen and (min-width: 768px) {
    right: 8px;
    top: 90px;
    border-radius: 0px 0px 0px 35px;
  }

  @media screen and (min-width: 1440px) {
    width: 144px;
    height: 144px;
    right: 13px;
    top: 159px;

    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 0px 72px;
  }
}

.bg-wrapper__bg-shape--5 {
  @extend %bg-shapes;

  width: 74px;
  height: 74px;
  left: -17px;
  top: 957px;

  border-radius: 25px 0px;

  @media screen and (min-width: 768px) and (max-width: 1439px) {
    display: none;
  }

  @media screen and (min-width: 1440px) {
    width: 144px;
    height: 144px;
    left: unset;
    right: -23px;
    top: 667px;
    border-radius: 72px 0px;
  }
}

.bg-wrapper__bg-shape--6 {
  @extend %bg-shapes;

  width: 74px;
  height: 74px;
  right: -21px;
  top: 1033px;

  border-radius: 0px 25px;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.bg-wrapper__bg-shape--7 {
  @extend %bg-shapes;

  width: 74px;
  height: 74px;
  left: -18px;
  top: 1070px;

  border-radius: 0px 0px 0px 35px;

  @media screen and (min-width: 768px) and (max-width: 1439px) {
    display: none;
  }

  @media screen and (min-width: 1440px) {
    width: 144px;
    height: 144px;
    left: -64px;
    top: 1077px;

    border-radius: 72px;
  }
}

.bg-wrapper__bg-shape--8 {
  @extend %bg-shapes;

  width: 74px;
  height: 74px;
  right: -15px;
  top: 1360px;

  border-radius: 25px 0px;

  @media screen and (min-width: 768px) and (max-width: 1439px) {
    display: none;
  }

  @media screen and (min-width: 1440px) {
    width: 144px;
    height: 144px;
    right: 13px;
    top: 159px;

    border-radius: 0px 0px 72px 0px;
    transform: rotate(90deg);
  }
}
