.order-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  @media screen and (min-width: 768px) {
    width: 420px;
  }
  @media screen and (min-width: 1440px) {
    width: 515px;
  }
}

.order-form__input {
  border-bottom: 1px solid $accent-color;
  padding-bottom: 4px;
  font-size: 16px;
  height: 20px;
  color: $main-text-color;
  font-family: inherit;
  cursor: pointer;
  width: 100%;
  &:focus {
    border-bottom: 1px solid $accent-color;
  }
}
.order-form__input:hover + .order-form__label {
  color: $accent-color;
}

.order-form__input:focus + .order-form__label,
.order-form__input:not(:placeholder-shown) + .order-form__label {
  font-size: 14px;
  transform: translateY(-28px);
}

.order-form__label {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  text-transform: capitalize;
  color: $main-text-color;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: transform 250ms ease,
    color $main-duration $main-timing-function;

  @media screen and (min-width: 1440px) {
    font-size: 18px;
    line-height: 1.1;
  }
}
.order-form__wrapper {
  position: relative;
  margin-bottom: 44px;
}

.order-form__select {
  border: none;
  border-bottom: 1px solid $accent-color;
  width: 100%;
  height: 20px;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  appearance: none;
}

.order-form__select-wrapper {
  position: relative;
  margin-bottom: 44px;
  &::after {
    content: '◢';
    display: inline-block;
    transform: rotate(45deg);
    position: absolute;
    right: 0;
    bottom: 2px;
    pointer-events: none;
  }
}

.order-form__label-textarea {
  margin-bottom: 4px;
  font-weight: 400;
  resize: none;
}
.order-form__pin {
  display: none;
}
.order-form__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 1.27;
  text-align: left;
  color: $accent-color;
  margin-bottom: 28px;

  @media screen and (min-width: 768px) {
    font-size: 24px;
    line-height: 1.26;
    text-align: center;
  }
  @media screen and (min-width: 1440px) {
    font-size: 36px;
    line-height: 1.26;
    text-align: left;
  }
}

.order-form__textarea {
  border: 1px solid $accent-color;
  box-sizing: border-box;
  border-radius: 50px 0px;
  padding-left: 20px;
  padding-top: 22px;
  width: 100%;
  height: 199px;
  font-size: 16px;
  line-height: 1.25;
  resize: none;
  &::placeholder {
    color: $secondary-text-color;
  }
  @media screen and (min-width: 1440px) {
    font-size: 18px;
    line-height: 1.1;
  }
}

.order-form__textarea-wrapper {
  position: relative;
}

.order-form__file-add {
  position: absolute;
  bottom: 18px;
  right: 21px;
  cursor: pointer;
  fill: var(--color2, #cdcdcd);
}

.order-form__message {
  width: 100%;
  font-weight: 400;
  color: $secondary-text-color;
  font-size: 16px;
  line-height: 1.25;
  margin-bottom: 24px;
  @media screen and (min-width: 768px) {
    margin-bottom: 44px;
  }

  @media screen and (min-width: 1440px) {
    font-size: 18px;
    line-height: 1.1;
    margin-bottom: 24px;
  }
}

.order-form__submit-btn {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: $main-background-color;
  width: 280px;
  height: 56px;
  background: $accent-color;
  box-shadow: $btn-shadow;
  border-radius: 30.5px;
  padding: 16px 32px;
  cursor: pointer;
  transition: box-shadow, $main-duration $main-timing-function;
  transition: background, $main-duration $main-timing-function;

  &:hover,
  &:focus {
    box-shadow: $btn-shadow-hover;
    background: $accent-color-hover;
  }
  @media screen and (min-width: 768px) {
    width: 177px;
    height: 56px;
    margin-left: auto;
  }
  @media screen and (min-width: 1440px) {
    width: 175px;
    height: 55px;
    font-size: 18px;
    line-height: 1.25;
    letter-spacing: 0;
  }
}
