.order-btn {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  background: $accent-color;
  box-shadow: $btn-shadow;
  border-radius: 30.5px;
  padding: 16px 32px;
  color: $primary-white-color;
  cursor: pointer;
  transition: box-shadow $main-duration $timing-function;
  transition: background, $main-duration $timing-function;

  &:hover,
  &:focus {
    box-shadow: $btn-shadow-dark;
    background: $accent-color-hover;

  }
}
