.footer {
  background-color: #f5f5fa;
  -webkit-box-shadow: 5px 2px 5px 8px rgba(72, 121, 150, 0.1);
  box-shadow: 5px 2px 5px 8px rgba(72, 121, 150, 0.1);
  padding-top: 32px;
  padding-bottom: 32px;

  @media screen and (min-width: 1440px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.footer__logo {
  display: block;
  width: 192px;
  height: 48px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  @media screen and (min-width: 1440px) {
    &-wrapper {
      margin-right: 136px;
    }
  }
}
.footer__container {
  @media screen and (min-width: 768px) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  @media screen and (min-width: 768px) and (max-width: 1439px) {
    margin-top: 20px;
  }

  @media screen and (min-width: 1440px) {
    margin-top: 0;
  }
}
@media screen and (min-width: 1440px) {
  .footer__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer-nav__list {
  margin-top: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;

  @media screen and (min-width: 768px) {
    text-align: start;
    margin-top: 0;
    width: 132px;
  }
}

.footer-nav__item:not(:last-child) {
  margin-bottom: 8px;
}
.footer-nav__link {
  @include font-header-footer();
  color: $main-text-color;
  -webkit-transition: color $main-duration $main-timing-function,
    fill $main-duration $main-timing-function;
  -o-transition: color $main-duration $main-timing-function,
    fill $main-duration $main-timing-function;
  transition: color $main-duration $main-timing-function,
    fill $main-duration $main-timing-function;
  &:hover,
  &:focus {
    color: $accent-color;
    fill: $accent-color;
  }
}

.footer-social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  align-items: center;
  margin-top: 30px;

  @media screen and (min-width: 768px) {
    margin-top: 0;
    margin-right: 100px;
    margin-left: 135px;
    align-items: flex-start;
  }

  @media screen and (min-width: 1440px) {
    margin-right: 145px;
    margin-left: 87px;
  }
}

.footer-social__icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

.footer-social__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

.footer-social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  @include font-header-footer();

  text-align: center;

  color: $main-text-color;
  -webkit-transition: color $main-duration $main-timing-function,
    fill $main-duration $main-timing-function;
  -o-transition: color $main-duration $main-timing-function,
    fill $main-duration $main-timing-function;
  transition: color $main-duration $main-timing-function,
    fill $main-duration $main-timing-function;
  &:hover,
  &:focus {
    color: $accent-color;
    fill: $accent-color;
  }
}

.footer-contact__wrapper {
  margin-top: 24px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;

  @media screen and (min-width: 768px) {
    margin-top: 0;
  }
}
.footer-contact__item {
  &:not(:last-child) {
    margin-bottom: 8px;
  }

  @media screen and (min-width: 768px) {
    text-align: right;
  }

  @media screen and (min-width: 1440px) {
    text-align: left;
  }
}

.footer-contact__link {
  @include font-header-footer($ls: 0);
  font-style: normal;
  text-align: center;
  color: $accent-color;
  -webkit-transition: color $main-duration $main-timing-function,
    fill $main-duration $main-timing-function;
  -o-transition: color $main-duration $main-timing-function,
    fill $main-duration $main-timing-function;
  transition: color $main-duration $main-timing-function,
    fill $main-duration $main-timing-function;
  &:hover,
  &:focus {
    color: $main-text-color;
    fill: $main-text-color;
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 16px;
  }
}

.footer-contact__mail-heading,
.footer-contact__tel-heading {
  @include font-header-footer($ls: 0);
  margin-bottom: 8px;
  font-style: normal;
  text-align: center;
  color: $main-text-color;

  @media screen and (min-width: 768px) {
    text-align: right;
  }

  @media screen and (min-width: 1440px) {
    text-align: left;
  }
}
.footer-contact_tel-ident {
  @media screen and (max-width: 767px) {
    margin-top: 24px;
  }

  @media screen and (min-width: 768px) {
    margin-top: 16px;
  }
}
