.header__container {
  display: flex;
  padding-top: 29px;
  padding-bottom: 35px;
  min-width: 320px;
  align-items: center;
  overflow: visible;

  @media screen and (min-width: 768px) {
    width: 768px;
    padding-top: 20px;
    padding-bottom: 35px;
  }

  @media screen and (min-width: 1440px) {
    width: 1440px;
    padding-top: 40px;
    padding-bottom: 73px;
    padding-left: 80px;
    padding-right: 80px;
  }
}

.header__segment {
  display: flex;

  @media screen and (max-width: 767px) {
    flex: 1;
    justify-content: center;
  }

  &--right {
    @media screen and (min-width: 768px) {
      margin-right: 174px;
    }

    @media screen and (min-width: 1440px) {
      margin-right: 213px;
    }
  }

  &--center {
    margin-right: auto;
  }
}

.site-nav {
  display: flex;
  align-items: center;
}

.logo__link {
  display: block;

  @media screen and (min-width: 768px) and (max-width: 1439px) {
    padding-left: 10px;
  }
}

.header__btn--mobile-menu {
  height: 32px;
  background: none;

  @media screen and (min-width: 1440px) {
    display: none;
  }
}

.site-nav__list {
  display: none;

  @media screen and (min-width: 1440px) {
    display: flex;
    width: 470px;
    justify-content: space-between;
  }
}
.site-nav__select {
  position: relative;
  cursor: pointer;

  &::after {
    content: '';
    position: absolute;
    top: 50%;

    margin-left: 4px;
    border: 5px solid transparent;
    border-bottom: 4px solid $accent-color;
    transform: rotate(180deg) translateY(-20%);
  }
  &--dropdown::after {
    transform: none;
    top: unset;
    bottom: 30%;
  }
}

.site-nav__item {
  font-family: 'CaviarDreams';
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.01em;
}

.site-nav__link {
  color: inherit;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.drop-menu {
  opacity: 0;
  width: 144px;
  text-align: center;
  position: absolute;
  pointer-events: none;
  transform: translate(-40px, 8px);
  height: 78px;
  background: $main-background-color;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 72px 72px;
  transition: opacity $main-duration $main-timing-function;

  &--is-open {
    opacity: 1;
    pointer-events: visible;
  }
}

.drop-menu__item {
  font-size: 16px;
  line-height: 1.19;

  &:not(:last-child) {
    margin-bottom: 6px;
  }
}

.header__btn--call {
  padding: 0;
  width: 24px;
  height: 24px;
  margin-right: 21px;
  fill: $accent-color;
  background: none;
  position: relative;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.language-list {
  font-family: 'CaviarDreams';
  font-weight: 700;
  font-size: 14px;
  line-height: 1.125;
  letter-spacing: 0.01em;
  appearance: none;
  color: #bdbdbd;
  background: none;
  border: none;

  &:hover {
    color: $accent-color;
  }
  &:focus {
    color: $accent-color;
    outline: 1px solid $accent-color;
  }

  @media screen and (min-width: 768px) {
    margin-right: 28px;
  }

  @media screen and (min-width: 1440px) {
    margin-right: 94px;
    align-items: center;
  }
}

.header__contacts--mobile {
  @media screen and (max-width: 767px) {
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);

    width: 162px;
    padding: 16px 5px 16px 8px;

    pointer-events: none;
    opacity: 0;
    background: $main-background-color;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
    transition: transform 500ms $main-timing-function,
      opacity $main-duration $main-timing-function;

    &--is-open {
      transform: translate(-50%, calc(100% + 12px));
      opacity: 1;
      pointer-events: visible;
    }

    &::before {
      content: '';
      bottom: 99%;
      left: 68px;
      position: absolute;
      border: 12px solid transparent;
      border-bottom: 12px solid $main-background-color;
    }
  }
}

.header__contacts--tablet-desktop {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
  }
}

.contacts__link {
  display: flex;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.01em;
  color: inherit;
  line-height: 1.25;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.contacts__item:not(:last-child) {
  margin-bottom: 10px;
}

.contacts__tel-icon {
  @media screen and (max-width: 767px) {
    display: none;
  }

  width: 14px;
  height: 14px;
  fill: $accent-color;

  @media screen and (min-width: 768px) {
    margin-top: 4px;
    margin-right: 4px;
  }

  @media screen and (min-width: 1440px) {
    margin-right: 8px;
  }
}
