.header--mobile-menu-is-open {
  position: fixed;
  width: 100%;
  z-index: 101;
}

.mobile-menu-is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.mobile-menu {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: $main-background-color;

  &__container {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
  }
}

/* mobile-menu */
.menu__list {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.25;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 115px;
  & > li:not(:last-child) {
    margin-bottom: 24px;
  }
}
.menu__item {
  text-transform: uppercase;
  font-weight: 700;
}
/* mobile-menu end */

/* tablet-menu */
.menu__link,
.services-menu__link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $accent-color;
}

.services-menu__link::before {
  display: block;
  content: '';
  display: inline-block;
  width: 7px;
  height: 7px;
  background: $accent-color;
  border-radius: 3px 0px;
  margin-right: 10px;
  align-items: center;
}

/* desktop menu */
@media screen and (min-width: 1440px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu {
  .link--active {
    color: $main-background-color;
    text-shadow: $accent-color 1px 1px 0, $accent-color -1px -1px 0,
      $accent-color -1px 1px 0, $accent-color 1px -1px 0;
  }
}
