<!-- GALLERY -->
<section class="gallery">
  <div class="container">
    <a class="ancor visually-hidden" id="gallery"></a>
    <h2 class="section-title main__section-title">Галерея</h2>
    <ul class="gallery__list set list">
      <li class="gallery__item set__item">
        <picture class="gallery__img">
          <source
            media="(min-width: 1440px)"
            srcset="
              ../src/images/desktope/main/image3.webp    1x,
              ../src/images/desktope/main/image3@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ../src/images/desktope/main/image3.jpg    1x,
              ../src/images/desktope/main/image3@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ../src/images/tablet/main/image3.webp    1x,
              ../src/images/tablet/main/image3@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ../src/images/tablet/main/image3.jpg    1x,
              ../src/images/tablet/main/image3@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="
              ../src/images/mobile/main/image3.webp    1x,
              ../src/images/mobile/main/image3@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 320px)"
            srcset="
              ../src/images/mobile/main/image3.jpg    1x,
              ../src/images/mobile/main/image3@2x.jpg 2x
            "
          />
          <img src="../src/images/mobile/main/image3.jpg" alt="Зображення інженерної 3D моделі" />
        </picture>
        <h3 class="gallery__sub-title">Інженерні методи аналізу та контролю якості</h3>
      </li>
      <li class="gallery__item set__item">
        <picture class="gallery__img">
          <source
            media="(min-width: 1440px)"
            srcset="
              ../src/images/desktope/main/image4.webp    1x,
              ../src/images/desktope/main/image4@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ../src/images/desktope/main/image4.jpg    1x,
              ../src/images/desktope/main/image4@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ../src/images/tablet/main/image4.webp    1x,
              ../src/images/tablet/main/image4@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ../src/images/tablet/main/image4.jpg    1x,
              ../src/images/tablet/main/image4@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="
              ../src/images/mobile/main/image4.webp    1x,
              ../src/images/mobile/main/image4@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 320px)"
            srcset="
              ../src/images/mobile/main/image4.jpg    1x,
              ../src/images/mobile/main/image4@2x.jpg 2x
            "
          />
          <img
            src="../src/images/mobile/main/image4.jpg"
            alt="Сканер знімає виміри з корпусу іграшкового авто"
          />
        </picture>
        <h3 class="gallery__sub-title">Високоточне <span lang="en">3D</span> сканування</h3>
      </li>
      <li class="gallery__item set__item">
        <picture class="gallery__img">
          <source
            media="(min-width: 1440px)"
            srcset="
              ../src/images/desktope/main/image5.webp    1x,
              ../src/images/desktope/main/image5@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ../src/images/desktope/main/image5.jpg    1x,
              ../src/images/desktope/main/image5@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ../src/images/tablet/main/image5.webp    1x,
              ../src/images/tablet/main/image5@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ../src/images/tablet/main/image5.jpg    1x,
              ../src/images/tablet/main/image5@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="
              ../src/images/mobile/main/image5.webp    1x,
              ../src/images/mobile/main/image5@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 320px)"
            srcset="
              ../src/images/mobile/main/image5.jpg    1x,
              ../src/images/mobile/main/image5@2x.jpg 2x
            "
          />
          <img
            src="../src/images/mobile/main/image5.jpg"
            alt="Інженерна 3D модель у доопрацюванні"
          />
        </picture>
        <h3 class="gallery__sub-title">
          Створення точної копії на базі сканування <span lang="en">reverse engineering</span>
        </h3>
      </li>
      <li class="gallery__item set__item">
        <picture class="gallery__img">
          <source
            media="(min-width: 1440px)"
            srcset="
              ../src/images/desktope/main/image6.webp    1x,
              ../src/images/desktope/main/image6@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ../src/images/desktope/main/image6.jpg    1x,
              ../src/images/desktope/main/image6@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ../src/images/tablet/main/image6.webp    1x,
              ../src/images/tablet/main/image6@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ../src/images/tablet/main/image6.jpg    1x,
              ../src/images/tablet/main/image6@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="
              ../src/images/mobile/main/image6.webp    1x,
              ../src/images/mobile/main/image6@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 320px)"
            srcset="
              ../src/images/mobile/main/image6.jpg    1x,
              ../src/images/mobile/main/image6@2x.jpg 2x
            "
          />
          <img src="../src/images/mobile/main/image6.jpg" alt="Інженер проектує 3D модель" />
        </picture>
        <h3 class="gallery__sub-title">
          Всі цикли <span lang="en">3D</span> проектування, створення фотореалістичних цифрових
          моделей
        </h3>
      </li>
    </ul>
  </div>
</section>
