<div
  class="gallery-overlay__backdrop gallery-overlay__is-hidden"
  gallery-overlay
  gallery-overlay-close
>
  <div class="gallery-overlay__wrapper">
    <div class="gallery-overlay__symbol-left-wrap">
      <svg class="gallery-overlay__symbol-left">
        <use href="/images/sprite.svg#icon-arrow-left"></use>
      </svg>
    </div>

    <div class="gallery-overlay__symbol-right-wrap">
      <svg class="gallery-overlay__symbol-right">
        <use href="/images/sprite.svg#icon-arrow-right"></use>
      </svg>
    </div>

    <picture class="more-photo__img">
      <source
        srcset="./images/desktope/main/image12@2x.webp 1x"
        type="image/webp"
      />

      <img
        src="./images/desktope/main/image12@2x.jpg"
        alt="Фігурки настільних ламп, надрукована на 3D принтері"
      />
    </picture>
  </div>
</div>
<script src="./gallery-overlay.js"></script>
