<!-- HERO -->
<section class="hero">
  <div class="container hero__container">
    <h1 class="page-title main__page-title">
      Інженерна, конструкторська <br />та дизайнерська робота
    </h1>
    <h2 class="section-title visually-hidden">Карусель зображень</h2>
    <div class="wrapper wrapper__carousel">
      <ul class="carousel set list">
        <li class="carousel__item set__item">
          <picture class="carousel__img carousel__img--round-top-right">
            <source
              media="(min-width: 1440px)"
              srcset="
                ../src/images/desktope/main/image.webp    1x,
                ../src/images/desktope/main/image@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
                ../src/images/desktope/main/image.jpg    1x,
                ../src/images/desktope/main/image@2x.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ../src/images/tablet/main/image.webp    1x,
                ../src/images/tablet/main/image@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ../src/images/tablet/main/image.jpg    1x,
                ../src/images/tablet/main/image@2x.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(min-width: 320px)"
              srcset="
                ../src/images/mobile/main/image.webp    1x,
                ../src/images/mobile/main/image@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 320px)"
              srcset="
                ../src/images/mobile/main/image.jpg    1x,
                ../src/images/mobile/main/image@2x.jpg 2x
              "
              type="image/jpg"
            />
            <img
              src="../src/images/mobile/main/image.jpg"
              alt="Фігурка робота, надрукована 3D принтером"
            />
          </picture>
        </li>
        <li class="carousel__item set__item">
          <picture class="carousel__img carousel__img--round">
            <source
              media="(min-width: 1440px)"
              srcset="
                ../src/images/desktope/main/image1.webp    1x,
                ../src/images/desktope/main/image1@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
                ../src/images/desktope/main/image1.jpg    1x,
                ../src/images/desktope/main/image1@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ../src/images/tablet/main/image1.webp    1x,
                ../src/images/tablet/main/image1@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ../src/images/tablet/main/image1.jpg    1x,
                ../src/images/tablet/main/image1@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 320px)"
              srcset="
                ../src/images/mobile/main/image1.webp    1x,
                ../src/images/mobile/main/image1@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 320px)"
              srcset="
                ../src/images/mobile/main/image1.jpg    1x,
                ../src/images/mobile/main/image1@2x.jpg 2x
              "
            />
            <img
              src="../src/images/mobile/main/image1.jpg"
              alt="Фігурка настільної лампи, надрукована 3D принтером"
            />
          </picture>
        </li>
        <li class="carousel__item set__item">
          <picture class="carousel__img carousel__img--round-top-right-down-left">
            <source
              media="(min-width: 1440px)"
              srcset="
                ../src/images/desktope/main/image2.webp    1x,
                ../src/images/desktope/main/image2@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
                ../src/images/desktope/main/image2.jpg    1x,
                ../src/images/desktope/main/image2@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ../src/images/tablet/main/image2.webp    1x,
                ../src/images/tablet/main/image2@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ../src/images/tablet/main/image2.jpg    1x,
                ../src/images/tablet/main/image2@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 320px)"
              srcset="
                ../src/images/mobile/main/image2.webp    1x,
                ../src/images/mobile/main/image2@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 320px)"
              srcset="
                ../src/images/mobile/main/image2.jpg    1x,
                ../src/images/mobile/main/image2@2x.jpg 2x
              "
            />
            <img
              src="../src/images/mobile/main/image2.jpg"
              alt="Фігурка людського черепа, надрукована 3D принтером"
            />
          </picture>
        </li>
      </ul>

      <a
        class="ancor-guide hero__ancor-guide hero__ancor-gide--arrow link"
        aria-label="Перехід до галереї зображень"
        href="#gallery"
      >
        <svg class="arrow-icon" viewBox="0 0 32 32">
          <use href="../src/images/sprite.svg#icon-arrow-gallery_16x16"></use>
        </svg>
      </a>
    </div>
    <p class="section-description hero__section-description">Ми втілюємо ідеї в реальність</p>
  </div>
</section>
