<!-- MORE PHOTO -->
<section class="more-photo">
  <div class="container more-photo__container">
    <h2 class="section-title main__section-title">Більше фото</h2>
    <ul class="more-photo__list set list">
      <li class="more-photo__item set__item" gallery-overlay-open>
        <picture class="more-photo__img">
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/desktope/main/image7.webp    1x,
              ./images/desktope/main/image7@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/desktope/main/image7.jpg    1x,
              ./images/desktope/main/image7@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/tablet/main/image7.webp    1x,
              ./images/tablet/main/image7@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/tablet/main/image7.jpg    1x,
              ./images/tablet/main/image7@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="
              ./images/mobile/main/image7.webp    1x,
              ./images/mobile/main/image7@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 320px)"
            srcset="
              ./images/mobile/main/image7.jpg    1x,
              ./images/mobile/main/image7@2x.jpg 2x
            "
          />
          <img
            src="./images/mobile/main/image7.jpg"
            alt="Фігурки, надруковані на 3D принтері"
          />
        </picture>
      </li>
      <li class="more-photo__item set__item" gallery-overlay-open>
        <picture class="more-photo__img">
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/desktope/main/image8.webp    1x,
              ./images/desktope/main/image8@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/desktope/main/image8.jpg    1x,
              ./images/desktope/main/image8@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/tablet/main/image8.webp    1x,
              ./images/tablet/main/image8@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/tablet/main/image8.jpg    1x,
              ./images/tablet/main/image8@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="
              ./images/mobile/main/image8.webp    1x,
              ./images/mobile/main/image8@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 320px)"
            srcset="
              ./images/mobile/main/image8.jpg    1x,
              ./images/mobile/main/image8@2x.jpg 2x
            "
          />
          <img
            src="./images/mobile/main/image8.jpg"
            alt="Фігурка Сіднейської опери, надрукована на 3D принтері"
          />
        </picture>
      </li>
      <li class="more-photo__item set__item" gallery-overlay-open>
        <picture class="more-photo__img">
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/desktope/main/image9.webp    1x,
              ./images/desktope/main/image9@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/desktope/main/image9.jpg    1x,
              ./images/desktope/main/image9@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/tablet/main/image9.webp    1x,
              ./images/tablet/main/image9@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/tablet/main/image9.jpg    1x,
              ./images/tablet/main/image9@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="
              ./images/mobile/main/image9.webp    1x,
              ./images/mobile/main/image9@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 320px)"
            srcset="
              ./images/mobile/main/image9.jpg    1x,
              ./images/mobile/main/image9@2x.jpg 2x
            "
          />
          <img
            src="./images/mobile/main/image9.jpg"
            alt="Фігурка робота, надрукована на 3D принтері"
          />
        </picture>
      </li>
      <li class="more-photo__item set__item" gallery-overlay-open>
        <picture class="more-photo__img">
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/desktope/main/image10.webp    1x,
              ./images/desktope/main/image10@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/desktope/main/image10.jpg    1x,
              ./images/desktope/main/image10@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/tablet/main/image10.webp    1x,
              ./images/tablet/main/image10@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/tablet/main/image10.jpg    1x,
              ./images/tablet/main/image10@2x.jpg 2x
            "
          />
          <img
            src="./images/tablet/main/image10.jpg"
            alt="Фігурка людського черепа, надрукована на 3D принтері"
          />
        </picture>
      </li>
      <li class="more-photo__item set__item" gallery-overlay-open>
        <picture class="more-photo__img">
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/desktope/main/image11.webp    1x,
              ./images/desktope/main/image11@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/desktope/main/image11.jpg    1x,
              ./images/desktope/main/image11@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/tablet/main/image11.webp    1x,
              ./images/tablet/main/image11@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/tablet/main/image11.jpg    1x,
              ./images/tablet/main/image11@2x.jpg 2x
            "
          />
          <img
            src="./images/tablet/main/image11.jpg"
            alt="Фігурка танка, надрукована на 3D принтері"
          />
        </picture>
      </li>
      <li class="more-photo__item set__item" gallery-overlay-open>
        <picture class="more-photo__img">
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/desktope/main/image12.webp    1x,
              ./images/desktope/main/image12@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/desktope/main/image12.jpg    1x,
              ./images/desktope/main/image12@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/tablet/main/image12.webp    1x,
              ./images/tablet/main/image12@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/tablet/main/image12.jpg    1x,
              ./images/tablet/main/image12@2x.jpg 2x
            "
          />
          <img
            src="./images/tablet/main/image12.jpg"
            alt="Фігурки настільних ламп, надрукована на 3D принтері"
          />
        </picture>
      </li>
      <li class="more-photo__item set__item" gallery-overlay-open>
        <picture class="more-photo__img">
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/desktope/main/image13.webp    1x,
              ./images/desktope/main/image13@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/desktope/main/image13.jpg    1x,
              ./images/desktope/main/image13@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/tablet/main/image13.webp    1x,
              ./images/tablet/main/image13@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/tablet/main/image13.jpg    1x,
              ./images/tablet/main/image13@2x.jpg 2x
            "
          />
          <img
            src="./images/tablet/main/image13.jpg"
            alt="Фігурка суперкару, надрукована на 3D принтері"
          />
        </picture>
      </li>
      <li class="more-photo__item set__item" gallery-overlay-open>
        <picture class="more-photo__img">
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/desktope/main/image14.webp    1x,
              ./images/desktope/main/image14@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/desktope/main/image14.jpg    1x,
              ./images/desktope/main/image14@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/tablet/main/image14.webp    1x,
              ./images/tablet/main/image14@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/tablet/main/image14.jpg    1x,
              ./images/tablet/main/image14@2x.jpg 2x
            "
          />
          <img
            src="./images/tablet/main/image14.jpg"
            alt="Фігурка куполу капітолію, надрукована на 3D принтері"
          />
        </picture>
      </li>
      <li class="more-photo__item set__item" gallery-overlay-open>
        <picture class="more-photo__img">
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/desktope/main/image15.webp    1x,
              ./images/desktope/main/image15@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/desktope/main/image15.jpg    1x,
              ./images/desktope/main/image15@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/tablet/main/image15.webp    1x,
              ./images/tablet/main/image15@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/tablet/main/image15.jpg    1x,
              ./images/tablet/main/image15@2x.jpg 2x
            "
          />
          <img
            src="./images/tablet/main/image15.jpg"
            alt="Настільний торшер у формі гриба, надрукований на 3D принтері"
          />
        </picture>
      </li>
      <li class="more-photo__item set__item" gallery-overlay-open>
        <picture class="more-photo__img">
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/desktope/main/image16.webp    1x,
              ./images/desktope/main/image16@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/desktope/main/image16.jpg    1x,
              ./images/desktope/main/image16@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/tablet/main/image16.webp    1x,
              ./images/tablet/main/image16@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/tablet/main/image16.jpg    1x,
              ./images/tablet/main/image16@2x.jpg 2x
            "
          />
          <img
            src="./images/tablet/main/image16.jpg"
            alt="Диспенсери для освіжувача повітря, надруковані на 3D принтері"
          />
        </picture>
      </li>
      <li class="more-photo__item set__item" gallery-overlay-open>
        <picture class="more-photo__img">
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/desktope/main/image17.webp    1x,
              ./images/desktope/main/image17@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/desktope/main/image17.jpg    1x,
              ./images/desktope/main/image17@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/tablet/main/image17.webp    1x,
              ./images/tablet/main/image17@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/tablet/main/image17.jpg    1x,
              ./images/tablet/main/image17@2x.jpg 2x
            "
          />
          <img
            src="./images/tablet/main/image17.jpg"
            alt="Модель Кібертраку Тесла, надрукована на 3D принтері"
          />
        </picture>
      </li>
      <li class="more-photo__item set__item" gallery-overlay-open>
        <picture class="more-photo__img">
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/desktope/main/image18.webp    1x,
              ./images/desktope/main/image18@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/desktope/main/image18.jpg    1x,
              ./images/desktope/main/image18@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/tablet/main/image18.webp    1x,
              ./images/tablet/main/image18@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/tablet/main/image18.jpg    1x,
              ./images/tablet/main/image18@2x.jpg 2x
            "
          />
          <img
            src="./images/tablet/main/image18.jpg"
            alt="Підвазонники у формі додекаедра, надруковані на 3D принтері"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
