<section class="section scan-process__section">
  <div class="container scan-process__container">
    <h2 class="scan-process__title">ПРОЦЕС 3D СКАНУВАННЯ</h2>

    <ul class="scan-process__list list">
      <li class="scan-process__item">
        <h3 class="scan-process__descrip">Підготовка деталі до сканування</h3>
      </li>

      <li class="scan-process__item">
        <h3 class="scan-process__descrip">Створення сканів і їх обробка</h3>
      </li>

      <li class="scan-process__item">
        <h3 class="scan-process__descrip">Перетворення reverse engineering</h3>
      </li>

      <li class="scan-process__item">
        <h3 class="scan-process__descrip">Підготовка моделі до друку</h3>
      </li>
    </ul>
  </div>
</section>
