<section class="section scan-process">
  <div class="container scan-process__container">
    <h2 class="scan-process__title">ПРОЦЕС <span lang="en">3D</span> СКАНУВАННЯ</h2>

    <ul class="scan-process__list list">
      <li class="scan-process__item">
        <h3 class="scan-process__descrip scan-process__descrip-before1">
          Підготовка <span class="scan-process__descrip-span">деталі </span>до сканування
        </h3>
      </li>

      <li class="scan-process__item">
        <h3 class="scan-process__descrip scan-process__descrip-before2">
          Створення <span class="scan-process__descrip-span">сканів</span> і їх обробка
        </h3>
      </li>

      <li class="scan-process__item">
        <h3 class="scan-process__descrip scan-process__descrip-before3">
          Перетворення <span lang="en">reverse engineering</span>
        </h3>
      </li>

      <li class="scan-process__item">
        <h3 class="scan-process__descrip scan-process__descrip-before4">
          Підготовка <span class="scan-process__descrip-span">моделі</span> до друку
        </h3>
      </li>
    </ul>

    <div class="scan-process__order-btn">
      <include src="./partials/components/order-btn.html"></include>
    </div>
  </div>
  <div class="scan-process__bg-shape--1"></div>
  <div class="scan-process__bg-shape--2"></div>
  <div class="scan-process__bg-shape--3"></div>
  <div class="scan-process__bg-shape--4"></div>
</section>
