<div class="conteiner">
    <h1 class="contact__title contact__section">КОНТАКТИ</h1>
    <div class="contact__main">
        <div class="contact__top-part contact__section">
            <iframe class="contact__video " src="https://www.youtube.com/embed/FqQAjkZOBeY" title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
            </iframe>
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
                </iframe>
            </div>
            <div class="contact___paragraph-section ">
                <p class="contact__paragraph ">
                    Людина уперше побачивши процес 3D друку може легко захопитися спостереженням за цим процесом не на
                    десяток
                    хвилин.
                </p>
                <p class="contact__paragraph ">
                    Наша команда створює timelapse відео що б ви могли краще ознайомитися з технологією 3D друку і
                    просто
                    помилуватися
                    красою цього процесу
                </p>
                <p class="contact__paragraph smile ">
                    Приємного перегляду!
                </p>
            </div>
        </div>
    </div>
                        class="contact__contact-part-discription link">3dfreedom.info@gmail.com</a>
                </li>
                <li class="contact__contact-part">
                    <h2 class="contact__contact-title">РОБОЧИЙ ЧАС</h2>
                    <ul class="contact__time-work list">
                        <li class="contact__contact-part-discription">Пн-пт:<br class="perenos"> з 8:00 до 19:00</li>
                        <li class="contact__contact-part-discription">Сб, Нд:<br class="perenos"> з 10:00 до 17:00</li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="contact__form contact__section">
            <include src="./partials/components/order-form.html"></include>

        </div>
    </div>

</div>